[2013-10-30 05:32] domenic opened #1 "Loss of interest/abort functionality?"
Do we need a uniform way of signaling to a stream that the consumer has lost interest? For example, If you open a stream to read a file, but subsequently decide to stop reading, should there be a way to signal you intend to consume from the stream no longer, and the OS should close the underlying file descriptor?

Node.js does not have this in its base stream interface, but it does have various ad

[2013-10-30 05:36] domenic opened #2 "ReadableStream constructor signature"
The options object as the first argument to the constructor is annoying, since it makes it non-optional. (Or if we did make it optional, you'd do `new ReadableStream(undefined, (...) => ...)`, which isn't exactly pretty.) But putting it _after_ the function parameter seems even worse.

We could do overloading, but... meh...

[2013-10-30 05:37] domenic opened #3 "Is Node's "unshift" necessary?"
My gut instinct is that you could build it in user-space (@Raynos has a gist somewhere that does this; please link?) and so it's not necessary for the minimal v1 API.

If we do want it, is that really a good name? (I kind of like "putBack" myself.)

[2013-10-30 05:44] domenic opened #4 "Should buffers be concatenated?"
If you do

[code]

should this log "123" or "123456"?

I am under the impression that at a lower I/O level, as data is pushed in, you accumulate it into a single growing buffer. Thus making it read "123456" is natural, as otherwise you would have to do bookkeeping to track how the array buffers were originally pushed in, and then slice them and even do some memory copying (or create copy-on-write

[2013-10-30 05:55] domenic opened #5 "Outline exactly how read() interacts with pushed and buffered data"
My current sketch under "Contrived API example" is a little hand-wavey. Here is my vague conception of how it works:
- You push data with `onRead`'s `push` into an internal buffer.
- When calling `read`:
  - If the internal buffer has anything in it, return an immediately-fulfilled promise containing the contents of that internal buffer, and schedule a microtask to clear the buffer.
  - If the int

[2013-10-30 05:58] domenic opened #6 "Are mutable array buffers a problem for multiple consumers?"
E.g. if I hand a stream to multiple consumers, and they both call `read()` on it (within the same event loop tick), they'll get the same array buffer object. They can then mutate each others' array buffers.

This seems a bit weird/annoying/unexpected.

The only fix I can think of is some kind of immutable binary data type (`Blob`???), or to guarantee different identities for the returned array buf

[2013-10-30 06:01] domenic opened #7 "How generic can these be?"
The _by far primary_ use case of this API is binary data. However, if it's easy and causes _no_ performance or implementation concerns, it'd be cool for them to be generic in what they take in.

The constraints so far that I can see are:
- We currently concatenate buffers (#4); if we want genericness but still want concatenation, we need to duck-type on `concat` methods.
- Our watermarks are curre

[2013-10-30 06:02] domenic opened #8 "Generic high/low water marks"
As part of #7, if we were to try to allow arbitrary object streams (_which is a low priority of this spec_), we'd want some semantics where watermarks are compared to aggregated `length` properties of the internally-buffered chunks. Seems doable, I think.

[2013-10-30 06:11] domenic opened #9 "Be sure to create mixin versions of the streams"
Most implementations of the stream on the web platform won't actually want the ReadableStream and WritableStream constructors we propose. Instead they will expose the rest of the API, but have their own constructors. E.g.

[code]

[code]

This also makes duplex streams easy, as seen above.

We also need to make it easy to implement mixins in user-space, instead of just in spec-land where we can as

[2013-10-30 06:20] domenic opened #10 "Expose stream state as properties?"
@isaacs mentioned this previously, both in his `poll` + `state` + `readCurrentBufferSynchronously` API, and in discussion of how writable streams should work.

For writable streams, `write()` will return a promise, but there still needs to be a backpressure signal; Node.js has that be the return value, since it uses callbacks for asynchrony. But a property of the writable stream is probably the wa

[2013-10-30 06:45] domenic opened #11 "read() vs. poll(fn) + state + readCurrentBufferSync()"
The current draft uses a promise-returning `read()` method to get the data. @isaacs outlined a different paradigm at http://lists.w3.org/Archives/Public/public-webapps/2013JulSep/0355.html, which you should read through and grok. (I've renamed his "read" to "readCurrentBufferSync" to avoid confusion.)

It's a bit more awkward, but might be better and more low-level.

You can build either on top of

[2013-10-30 06:54] lightsofapollo opened #12 "Define how "push" interacts with highWaterMark on readable side (suspending of push)"
Node's internal use of highWaterMark is mostly in conjunction with the ability to _call_ an [explicit method to read](https://github.com/joyent/node/blob/master/lib/fs.js#L1476) with an explicit number number of bytes triggered by a [request for data](https://github.com/joyent/node/blob/master/lib/_stream_readable.js#L334).

To have sane piping I believe we need the ability to halt the flow of dat

[2013-10-30 16:16] domenic opened #13 "Drop highWaterMark entirely??"
[code]

[2013-10-30 17:36] Raynos opened #14 "delayed errors"
As I understand currently:

[code]

will hide the error which is a problem of how promises work.

This means that any stream that is paused, i.e. right now I do want to read from it can be either a valid Stream or a Stream that is currently in a boxed error state.

node streams use the push distribution of errors namely `stream.emit("error")` instead of the pull distribution of errors (i.e. do `st

[2013-10-30 17:40] Raynos opened #15 "concurrent reads"
What are the semantics of

[code]

If the stream contains bytes the first promise will return those bytes on the next tick. If no bytes then the first promise fulfills eventually.

The second promise can either
- contain the same as the first promise because its in the same tick
- contain the next set of bytes after the first promise fulfills with some bytes
- be a thrown exception, cannot read fr

[2013-10-30 17:52] Raynos opened #16 "Alternative to Writable Stream"
Dart has a notion of [`IOSink`](http://api.dartlang.org/docs/releases/latest/dart_io/IOSink.html) which basically means anything that is a Writable Stream is actually a object with an `addStream` method

This basically means that `.addStream()` is an implementation of `.pipe()` that lives on the writable stream.

This means
- you do not have to implement a Writable interface.
- every writable sink

[2013-10-30 18:45] annevk opened #17 "Error handling"
For the networking case a stream might be terminated because of end-user abort, timeout, dropped connection, and maybe other scenarios. This needs to be communicated somehow. Maybe this should be done in a subclass, but then I suspect most streams will end up needing to be a subclass and we better design one that can be subclassed in that manner.

[2013-10-31 06:54] jkroso opened #18 "Consider linked lists as streams"
Given promises are the async primitive it might make more sense to implement streams as linked lists where the tail of each list node is a lazy promise for another list node. This would have a couple of practical advantages over the OO style of stream node.js uses in that multiple readers won't interfere with each other, so they are compose-able. And look-aheads aren't a hack. They ask for GC hook

[2013-11-01 19:37] domenic opened #19 "Long IRC log with relevant conversations"
Involving @creationix, @substack, @thlorenz, and others. Almost all relevant topics touched upon.

[code]

[2013-11-04 04:48] domenic opened #20 "Transform stream base class (or other helper) in toolbox"
Per @dominictarr at https://twitter.com/dominictarr/status/397223577931378689, this is important. I agree. Logging so I don't forget it.

[2013-11-04 05:36] dominictarr opened #21 "two types of duplex stream: Meat Grinder vs. Telephone"
relating to https://github.com/whatwg/streams/issues/20

There is a key distinction in duplex streams,
The simple case is a transform stream, which is like a meat grinder, because it takes an input and transforms it in someway, but is pretty much stateless
(it may have configuration settings, like gzip or encryption, but the output is pretty much determined by the input)

Transform streams represe

[2013-11-04 08:13] #2 closed, assigned to nobody

[2013-11-04 08:13] #4 closed, assigned to nobody

[2013-11-04 08:14] #7 closed, assigned to nobody

[2013-11-04 08:15] #8 closed, assigned to nobody

[2013-11-04 08:16] #10 closed, assigned to nobody

[2013-11-04 08:19] #5 closed, assigned to nobody

[2013-11-04 08:20] #11 closed, assigned to nobody

[2013-11-04 08:21] #15 closed, assigned to nobody

[2013-11-04 08:26] #1 closed, assigned to nobody

[2013-11-04 08:26] #19 closed, assigned to nobody

[2013-11-04 08:28] #21 closed, assigned to nobody

[2013-11-05 02:23] domenic opened #23 "Handle the close mechanism of push sources better"
The `close()` in our abstract push source should be async.

Also, right now our example adapter only closes the underlying source if `abort()` is called, but it should probably also close it when there is no more data to be read. Or do file systems do that automatically?

[2013-11-05 02:29] domenic opened #24 "Can we add buffering strategies via a transform stream?"
People have demonstrated how to do this with simpler always-async streams, e.g. in https://github.com/whatwg/streams/issues/13#issuecomment-27415443, but I am not sure how it would work with the current API.

In any case, it would be preferable to explain streams with buffering strategies (i.e. `ReadableStream`) in terms of `BaseReadableStream` + something else, instead of having `ReadableStream`

[2013-11-05 02:44] domenic opened #27 "Idea for solving the writev problem"
`CorkableWritableStream` (what a name!) inherits from `WritableStream` (or from `BaseWritableStream`? How do I mix them?). It adds public `cork` and `uncork` methods, and a constructor option `writev`. Thus calling `cork` switches you into batch-write mode where calls to `write` get batched, and calling `uncork` switches you out of it.

Not entirely sure about the compositionality of this approach

[2013-11-05 02:49] Raynos opened #28 "What happens when `[[push]]` gets called sychronously in the `[[pull]]` function"
both `[[push]]` and `read()` interact with `[[readablePromise]]`, this might cause subtle edge cases.

What happens when `[[push]]` gets called twice?

[2013-11-05 02:55] domenic opened #29 "Visualize the internal state machines"
This would be an immensely helpful illustrative diagram to make.

[2013-11-06 22:37] domenic opened #32 "Should writable streams have an optional "close value"?"
For example, it could be quite convenient for crypto streams, as in https://gist.github.com/domenic/7337821.

The idea would be that you could do

[code]

or, if you weren't the one closing it,

[code]

The alternative is to say that writable streams should add their own properties, like the `.hash` property in the above gist, for such cases. This might be conceptually cleaner, since it's not like

[2013-11-07 10:33] Ayms opened #33 "stop/resume"
stop/resume methods are discussed here: http://lists.w3.org/Archives/Public/public-webapps/2013OctDec/0401.html

As you can see that's different from potential pause/unpause, did you foresee this case and how to handle it?

[2013-11-08 05:58] tyoshino opened #34 "(nitpicking) state in example codes should be readableState/writableState respectively?"
t/o

[2013-11-08 14:12] #33 closed, assigned to nobody

[2013-11-08 15:53] Ayms opened #36 "createStream method"
Copy of Domenic's reply to the createStream proposal:

[2013-11-09 01:32] #34 closed, assigned to nobody

[2013-11-09 02:22] #28 closed, assigned to nobody

[2013-11-10 08:28] marcoscaceres opened #37 "Document could be more consistent with terminology"
I know it's still an early draft, but I think the document would be easier to follow if it was a bit more consistent with terminology around producers, consumers, sources, destinations, etc.

It would be great if, throughout the document, the same set of abstract "source A" to "destination b" (or some such) were used.

[2013-11-10 08:31] marcoscaceres opened #38 "Backpressure - "proactive" could be clarified."
In the communicate backpressure section, the doc sez:

I think the above would benefit from a definition or example of what you mean by "proactively".

[2013-11-10 08:36] marcoscaceres opened #39 "Backpressure - be more explicit about actors."
In the backpressure section, the document says:

"send a start signal immediately" to whom? Please be more clear about the actors involved.

[2013-11-10 08:38] marcoscaceres opened #40 "Backpressure - "adapting" is unclear."
In the backpressure section, you talk about "adapting", but I don't think it was ever defined what "adapting" means?

[2013-11-10 08:42] marcoscaceres opened #41 "`writev` requirement seems overly prescriptive"
The spec says:

Could be wrong, but this seems overly prescriptive and OS specific for a requirement.

[2013-11-10 08:50] marcoscaceres opened #42 "explicit JS API method names in requirements?"
This might be a bit of nitpicking, but- in the first two requirements, it seems a bit strange (to me) that you would have actual method/event-handler names when modeling the problem. I'm worried that this might restrict how the API looks in the end or might become confusing if the API ends up looking different than the requirement.

I think it would be better to leave the API specific stuff to whe

[2013-11-11 02:01] domenic opened #44 "Duplex streams: { in, out } vs. single object?"
This is discussed briefly at https://github.com/whatwg/streams#other (scroll down a bit).

Transform streams ("meat grinder" in @dominictarr's terminology) certainly make sense as a single object. It's clear that you do `write()` on one end and `read()` resulting data.

But what about duplex streams ("telephone" in @dominictarr's terminology)?

`{ in, out }` seems clearer in some cases, e.g. [seri

[2013-11-11 16:36] marcoscaceres opened #45 "JSIDL vs WebIDL"
So, if Streams are supposed to be a ES-level thing, then using the non-existent JS IDL may be ok (though the TC39 crowd will likely raise some eyebrows). However, I think it should be dumped in preference for a reference implementation of some sort, as is commonly the case for ES features (at least, that's what I've seen in their Wiki).

If this is supposed to be a browser API, then I don't think

[2013-11-11 17:49] #37 closed, assigned to nobody

[2013-11-14 12:46] tyoshino opened #46 "It's a little confusing that the return type of ReadableStream.pipe() is WritableStream in the IDL"
pipe() chaining is introduced in the spec. The reason why BaseReadableStream.pipe()'s return type is made not void should be to allow for chaining.

But it's a bit confusing that it's WritableStream which doesn't have pipe() method though since it's WritableStream (dest is returned), it should pass any type check and also invocation of pipe() on it should work unless the coder make a mistake (pass

[2013-11-16 05:09] #38 closed, assigned to domenic

[2013-11-16 05:09] #39 closed, assigned to domenic

[2013-11-16 05:09] #40 closed, assigned to nobody

[2013-11-16 05:21] #46 closed, assigned to nobody

[2013-11-18 03:47] #36 closed, assigned to nobody

[2013-11-18 04:20] #42 closed, assigned to domenic

[2013-11-18 04:20] #12 closed, assigned to nobody

[2013-11-18 04:31] #18 closed, assigned to nobody

[2013-11-18 04:35] #6 closed, assigned to nobody

[2013-11-18 05:04] #41 closed, assigned to nobody

[2013-11-29 06:59] #23 closed, assigned to nobody

[2013-11-29 07:55] #16 closed, assigned to nobody

[2013-11-29 08:14] domenic opened #47 "Bikeshedding time: readable vs. writable symmetry in properties and methods."
So, this is basically blocked on #44. The thing is, I have made various awkward API choices because I wanted to keep writable and readable APIs disjoint. Right now we have:
### As of Now
#### ReadableStream
- `waitForReadable()`
- `readableState`
- `abort(reason)`
- `finished` promise
- `"finished"` state
### WritableStream
- `waitForWritable()`
- `writableState`
- `dispose(reason)`
- `close()`
-

[2013-11-29 08:17] domenic opened #48 "Add WritableStream examples"
Just like readable stream has construction and usage examples, we need those for writable stream.

[2013-12-10 16:47] domenic opened #49 "Make it clear that the API is not blocking, even though it's sync"
In #whatwg IRC, it was brought up that the `while` loop examples make it look as though we are locking the browser. This has been expressed previously in private email threads as well. I can easily see the confusion, as that is my gut reaction to such loops too---they look too much like sync-programming busy loops.

We should make it more explicitly clear that while the API is synchronous for read

[2013-12-13 01:07] domenic opened #50 "Make it clear that subclasses can override wait(), read(), etc. to provide implementation-dependent buffers"
In IRC @piscisaureus brought up that it's probably optimal for certain system-level streams to have their own implementations of `wait()`, `read()`, and `write()`, which manage the buffer in their own OS-level way. E.g. a kernel-level TCP buffer.

This is allowed right now, but only implicitly. That is, you can subclass `ReadableStream`, override `wait()` and `read()` to do OS-level stuff, and ove

[2014-01-13 05:15] #49 closed, assigned to nobody

[2014-01-13 08:47] domenic opened #51 "Writable streams should call dispose hook if writing fails"
Currently, if a write fails, we go directly to the "errored" state, and do nothing else. (See https://github.com/whatwg/streams#errore-1.) We should give the stream a chance to clean up after itself by calling `[[doDispose]]`, I think.

[2014-01-15 07:36] othiym23 opened #52 "strawman implementation for node"
Is there an implementation of this API we can play with in Node? I'm hopeful that this proposal will result in something useful and durable, but it's hard to say for sure without getting my hands dirty.

I might be volunteering to take a stab at this if nobody else has done it.

[2014-01-15 22:36] domenic opened #53 "Needs a logo ;)"
Similar to stuff like:

DOM <img src="http://resources.whatwg.org/logo-dom.svg" width="50" height="50">

Encoding <img src="http://resources.whatwg.org/logo-encoding.svg" width="50" height="50">

Notifications <img src="http://resources.whatwg.org/logo-notifications.svg" width="50" height="50">

Fetch <img src="http://resources.whatwg.org/logo-fetch.svg" width="50" height="50">

URL <img src="http

[2014-01-19 05:54] #47 closed, assigned to nobody

[2014-01-19 06:25] #44 closed, assigned to nobody

[2014-01-19 06:48] #51 closed, assigned to nobody

[2014-01-19 23:42] #48 closed, assigned to nobody

[2014-01-19 23:46] #9 closed, assigned to nobody

[2014-01-19 23:57] #32 closed, assigned to nobody

[2014-01-20 00:25] #50 closed, assigned to nobody

[2014-01-20 00:36] #14 closed, assigned to nobody

[2014-01-20 07:32] othiym23 opened #54 "Examples rely on return value of [[push]], which is undefined in the spec."
Right now the reference implementation guesses that it returns `true` if state is `readable` or `waiting`, and `false` otherwise, but that may or may not be what you had in mind when you were writing the examples.

[2014-01-22 02:57] #54 closed, assigned to nobody

[2014-01-22 07:43] othiym23 opened #56 "BaseWritableStream: missing resolution of the promise in the final (type: 'close') buffer entry"
We talked about what to do with the promise that's created for the 'close' entry in the buffer, which ended up in bcf0040ff580fd265ed56acdb810270048a5d5d5, but upon testing my totally simple-minded sample stream, I discovered that trying to resolve on the promise returned by `close()` (which is done in several of the examples) fails because that promise is never resolved.

I see two ways to resolv

[2014-01-23 04:44] othiym23 opened #58 "BaseReadableStream.pipeThrough spec appears to be incomplete"
(specification is [here](https://github.com/whatwg/streams#pipethrough-in-out---close-))
1. The second options parameter, including the `close` flag, is not used. If this method is meant be overridden, a comment to that effect should be included.
2. The declared parameters are unnamed, yet in the example method body, the first parameter with the in / out transformer function pair is referred to as

[2014-01-23 04:55] othiym23 opened #59 "BaseReadableStream.abort should trap errors like BaseWritableStream.abort"
In general, it seems like everywhere there's a call to a user-provided function that's not already wrapped in a promise, there should be a try-catch and a call to `[[error]]` on the stream in case of a throw.

[2014-01-23 05:11] othiym23 opened #60 "BaseReadableStream: [[started]] seems unnecessary"
Based on my understanding of promises, the only advantage of the following code block from `[[callPull]]` (which is the only observer of `[[started]]`) is that it may save one tick deferral, which hardly seems worth the added complexity:

[code]

It seems like it could be replaced with this:

[code]

(sorry about all the `bind`ing)

[2014-01-23 05:24] othiym23 opened #61 "BRS.abort & BWS.abort have different return signatures"
The return value of `BaseReadableStream.prototype.abort` is `undefined`, and `BaseWritableStream.prototype.abort` does this, according to the spec:

[code]

To be consistent, shouldn't they return the same value?

[2014-01-23 05:25] #58 closed, assigned to nobody

[2014-01-23 05:45] domenic opened #62 "Make it more like a spec, less like a GitHub README"
Work on this is proceeding in the [official-lookin](https://github.com/whatwg/streams/tree/official-lookin) branch, using the template of other WHATWG specs.

Currently I'm only committing the "source" file, without running it through Anolis, because (a) committing built files to the repository seems lame; (b) I can't get that crazy Anolis toolchain running on my poor little Windows box. In leiu o

[2014-01-23 06:23] othiym23 opened #63 "Rename { in, out } to { input, output } since 'in' is a reserved word?"
Couldn't get traceur to emit an ES5 body for pipeThrough as written, finally figured out it was barfing on `{ in, out }` because `in` is a keyword.

[2014-01-23 17:37] ClaesNilsson opened #64 "Rewriting W3C SysApps Raw Socket API to be based on Streams"
Hi,

I am the editor of the W3C SysApps Raw Socket API (UDP, TCP and TCP server sockets), http://www.w3.org/2012/sysapps/raw-sockets/. This is a perfect API to be based on Streams and I have started to investigate how the API could be rewritten to be based on Streams. I think that placing the discussion here, at the Github Streams API repository, is better than having it at the SysApps Raw Socket

[2014-01-24 05:12] domenic opened #65 "Handle constructor parameters being non-callable"
Right now we default them to functions, but there's nothing stopping stoopid users from doing

[code]

or similar.

I guess we should `TypeError` on non-functions.

[2014-01-24 06:05] domenic opened #67 "Separating readable vs. writable abort"
A mini-epiphany has been building these last few days. It was triggered by seeing that I'd gotten readable vs. writable abort kind of wrong (#59, #61), but also by discussions with @Raynos about how aborting a writable stream should put it into the errored state. (Currently it puts it into the "closed" state, which sucks, especially because errors in the readable stream translate to aborts on any

[2014-01-24 07:56] #61 closed, assigned to nobody

[2014-01-24 08:11] othiym23 opened #68 "RandomPushStream -> RandomPushSource"
It's only test source, but it should reflect the nomenclature used by the spec.

[2014-01-25 23:41] #56 closed, assigned to nobody

[2014-01-30 16:02] tyoshino opened #69 "No need to differentiate write-in-closing and write-in-closed"
In BaseWritableStream.write() and close() algorithm, text for "call in closing state" and one for "call in closed state" are differentiated. Do we need to do so? Sorry if it's just a place holder where some concrete error will be placed and it doesn't imply need of differentiation.

[2014-01-30 16:09] domenic opened #70 "Error messages and types"
In #69 @tyoshino highlighted an underspecified/weird thing we're doing. Sentences like

are strange in two ways:
1. They don't specify what error type, exactly, we're using;
2. Most (all?) specs don't include text describing what the error should say.

---

For 1, the issue here is that, if we're trying to stay on the level of JS, we don't have access to the `DOMException` hierarchy, so we can't u

[2014-02-03 05:06] #69 closed, assigned to nobody

[2014-02-03 05:06] #70 closed, assigned to nobody

[2014-02-03 05:13] #65 closed, assigned to nobody

[2014-02-03 05:37] #63 closed, assigned to nobody

[2014-02-08 19:13] bmeck opened #74 "Pull based streams: ability to read $num items"
The ability to read a specific number of things at a time and leave remaining queued data is an important feature of streams. This is present in the low level OS APIs as well:

Unix read: http://man7.org/linux/man-pages/man2/read.2.html
AIO: http://man7.org/linux/man-pages/man7/aio.7.html , http://man7.org/linux/man-pages/man3/aio_read.3.html

Windows: http://msdn.microsoft.com/en-us/library/windo

[2014-02-10 05:10] tyoshino opened #75 "Inconsistency between [[push]]'s return value and [[onPull]] invocation in ReadableStream"
ReadableStream.[[push]] returns true as far as the [[strategy]] permits.

However, BaseReadableStream.read() calls [[callPull]] to pull new data from the data source only when [[buffer]] is empty. It's Base\* class level criteria for pull. So, in case where "[[buffer]] does not become empty but [[bufferSize]] goes down below [[strategy]]'s high water mark", the data source won't be notified of pul

[2014-02-10 05:43] tyoshino opened #76 "Define when we consider a data is consumed by the reader"
The consumer code touching the ReadableStream API cannot obtain fine-grained control over how much data to pull. It's hidden. So, in case, big chunks are used by the data source, the consumer code may get unexpectedly big chunk from a read() call. It's ok to get a big chunk, but I don't want the ReadableStream to start pulling new data on that read() call as the consumer code is being overwhelmed

[2014-02-10 06:43] tyoshino opened #78 "Define how to handle the result of calling start, pull or abort"
When
- [[onPull]] of BaseReadableStream throws: maybe we want to handle that as an error
- [[onAbort]] throws: maybe we just ignore that?
- start throws: I just want to confirm that there's a well-defined convention and based on that "let this.[[startedPromise]] be the result of casting the return value to a promise." also catches an exception thrown by "call start(...)" though it's clear that suc

[2014-02-10 07:02] tyoshino opened #80 "Document semantics of BaseReadableStream.wait()"
The promise returned by BaseReadableStream.wait() which is [[readablePromise]] is rejected with TypeError when it reaches EOF. So, wait() seems to be basically only for waiting for the "readable" state. Someone could imagine from the very generic name "wait()" that it'll wait for any change of state happen on the object. So, I suggest that we document well that wait() is rejected on EOF or do some

[2014-02-10 07:06] domenic opened #81 "Do we need the base classes?"
I want to raise this issue, not because I think we can action on it soon, but because I want people to know it's definitely on our minds. It's more that we want to keep in mind this possibility as we make higher-level decisions.

If we kill high-water marks somehow (#13, or #24), then most of the value-add of `WritableStream` over `BaseWritableStream` and `ReadableStream` over `BaseReadableStream`

[2014-02-12 09:34] tyoshino opened #84 "Factoring out [[buffer]] processing code in BWS"
The following sub steps are common and could be factored out.
- `BaseWritableStream.[[doNextWrite]]` 4-ii-b and c
- `BaseWritableStream` ctor 10-i and ii

It's just 6 line. So, it's optional.

[2014-02-14 11:33] domenic opened #86 "Investigate large stream graphs, especially glitches"
I just had a very interesting conversation at MLOC.js about large stream graphs. The participants were largely coming from a reactive programming background, which is not quite what we're targeting with streams (we are mostly concerned with the I/O use cases, backpressure, etc.), but is certainly related.

Some of the most interesting discussion came up around how the system handles large graphs o

[2014-02-22 18:29] #68 closed, assigned to othiym23

[2014-02-22 19:11] #60 closed, assigned to othiym23

[2014-02-23 00:28] #78 closed, assigned to nobody

[2014-02-23 00:59] #59 closed, assigned to nobody

[2014-02-23 00:59] #67 closed, assigned to domenic

[2014-02-23 01:05] #17 closed, assigned to nobody

[2014-02-23 04:11] #84 closed, assigned to nobody

[2014-02-23 04:18] #53 closed, assigned to nobody

[2014-02-27 14:30] steveklabnik opened #88 "Investigate (F)RP literature"
Breifly discussed this with @domenic last night, but I see many parallels to this proposal and functional reactive programming. There may be lessons to be learned from that literature or JavaScript implementations of it (bacon.js, Rx).

I'm interested in doing some of this, as I've written an FRP implementation in Ruby. I need to dig into the details of the spec first.

[2014-03-03 07:06] tyoshino opened #90 "Shouldn't we enter "errored" on cancel() call?"
`cancel(reason)` formerly named `abort` changes the state to `"closed"`. Shouldn't this be `"errored"`?

[2014-03-04 05:32] #52 closed, assigned to nobody

[2014-03-11 18:10] domenic opened #96 "Rename "buffer" to "queue"??"
In IRC @sicking and I went in circles for a bit over the confusion between "buffer" as in ArrayBuffer (i.e. continuous chunk of memory, often one of the things in your stream) and "buffer" as in "the stream's collection of so-far buffered chunks."

I am wondering if anyone else thinks this is confusing and if so should we rename the spec's "buffer" concept to something like "queue" to avoid such c

[2014-03-11 19:46] domenic opened #97 "Ensure the JS thread doesn't have to get hit when piping two streams to each other"
E.g., an XHR stream to a file system stream, `xhrStream.pipeTo(fsStream)`.

As-is, there might be a problem if e.g. the user does

[code]

after the pipe is already set up. The implementation would have to detect this and start routing data to the main thread, which kind of sucks.

A possible fix would be caching the value of `dest.write` at the top of `pipeTo`.

/cc @sicking

[2014-03-17 05:21] #80 closed, assigned to nobody

[2014-03-17 05:37] #90 closed, assigned to nobody

[2014-03-19 16:31] #75 closed, assigned to nobody

[2014-03-19 16:32] #86 closed, assigned to nobody

[2014-03-27 08:33] tyoshino opened #98 "Meaning of a promise returned by BRS.cancel()"
It's not a big deal, but meaning of the return value of `BRS.cancel()` looks a bit weird to me.

This is ... okay as it's noop for a stream in `"closed"` state.

This looks inconsistent with `"readable"` and `"waiting"` case where the returned promise carries the result of `[[onCancel]]`.

Unless these behaviors are proven to be useful, I suggest that we have `cancel()` return a new promise reject

[2014-04-04 19:11] domenic opened #102 "Can we not have "four interfaces""
The current thing has Readable and Writable streams, but their constructors take objects which have two more interfaces--- respectively for putting data into the readable, and using the data in the writable. Is it possible this could be reduced to only two?

I am told CSP channels (see #88) are basically this idea.

/cc @gozala @sicking

[2014-04-05 01:23] domenic opened #103 "A "wrapper stream" is too complicated right now."
@Benvie prompted me to write this and now I'm feeling depressed.

[code]

[2014-04-05 03:57] othiym23 opened #104 "simpler, less stateful basic streams?"
At the summit today, @evancz, @Gozala, and I sat down to try to hash out a version of the streams API that was the simplest possible interface that would satisfy the following requirements (but maybe not all at the same time, or without subclassing):

* honors the basic contract of an (event) stream, with the operations `put` and `take` that atomically write to a fixed-length queue / buffer / chan

[2014-04-07 04:18] #103 closed, assigned to nobody

[2014-04-11 20:55] domenic opened #105 "LengthBufferingStrategy should be ByteLengthBufferingStrategy"
@sicking pointed out that ArrayBuffers actually have a `.byteLength` property, not a `.length` property.

I think the ArrayBuffer use cases outweigh any hypothetical array use cases by a lot so I don't see any problem with changing this.

[2014-04-14 05:30] #98 closed, assigned to nobody

[2014-04-15 00:33] Gozala opened #107 "Sync / Async API"
This is more of a question to @domenic & @othiym23 than an actual issue. I have noticed that description of the `write` method that is passed to a `BaseWritableStream` constructor can signal back either synchronously  asynchronously. I am wondering how is that any different from `x` being `Promise.resolve(true)` or `true` given  `var x = output.put(data)`. Which also raises a question if `output.p

[2014-04-15 18:33] josh opened #108 "Wrapping unbuffered readable streams"
Looking at the spec example from "Introduction to Readable Streams",

[code]

I guess its assumed that `rawSocket` won't start emmiting data events immediately? It waits till `.readStart()` is called? I know `createRawSocketObject` is a fictitious example, but maybe this could be documented a little more. Will `pull()` be initially called after `start()`?

In that case I'm assuming `createRawSocke

[2014-04-15 20:14] josh opened #109 "WritableStream write returning a completion Promise"
Looking at the "Introduction to Writable Streams" example,

[code]

Could `write` return a Promise instead of accepting `done` and `error` callbacks?

[code]

/cc @domenic

_(Apologies if you've already answered this in another issue already. Did a quick search and didn't find anything)_

[2014-04-15 20:21] #109 closed, assigned to nobody

[2014-04-24 18:27] #107 closed, assigned to nobody

[2014-04-25 05:34] #108 closed, assigned to nobody

[2014-05-20 00:37] domenic opened #111 "Reading binary into an existing buffer"
@dherman brought this up originally, and then it came up in a conversation with @willchan and @slightlyoff.

The idea would be something like:

[code]

There's lots of bikeshedding that could be done here (overload instead of separate method? What does the prior art in other languages and libraries do? How to handle overflows? etc.). But the argument is quite sound in principle: it would allow you

[2014-05-20 00:42] domenic opened #112 "Document the term "chunk""
I have been using it to mean "thing that is read" or "thing that written." It can be an ArrayBuffer, an object, or whatever. It is a pretty important concept, and it should be in the "model" section of the .html file.

[2014-06-10 06:27] domenic opened #113 "Document more useful model terms"
@annevk pointed out that "open" vs. "closed" is nice.

At this point it might be useful to split the model sections into readable and writable streams.

[2014-06-11 16:24] #96 closed, assigned to nobody

[2014-06-11 16:52] #105 closed, assigned to nobody

[2014-06-11 22:31] #81 closed, assigned to nobody

[2014-06-11 22:33] domenic opened #114 "Reify the queues somehow"
Looking at the algorithms after fixing #81, it's very clear that the queues need to be a bit more first-class. Most obviously, separately tracking `[[queue]]` and `[[queueCount]]` is not good.

The most obvious thing to do is define a spec-internal queue data structure that takes care of some of this all at once.

More ambitiously, it might be possible to merge the queue into the queuing strategy

[2014-06-13 12:18] ytrezq opened #115 "Support for some low-lvel control"
Some protocols _(like http with the keepalive time)_ and many other protocols require to send arbitrary ACK or TCP reset or set TCP flags.
It would be nice if this API can handle that in the same way of Wininet or the Unix socket API allow this...

You can alos look at the proposal I wrote on the raw socket API to get some ideas _(I know it is not stream compatible)_.

[2014-06-13 12:25] ytrezq opened #116 "support filter rules for server side connection"
Many server does things like dynamical adding firewall rules _(for banning some host)_ to handle those things faster. Usually, this is done by invoking commands or scripts on the local computer.

It would be nice if that API can allow doing this directly in a proper way...

[2014-06-16 17:00] #115 closed, assigned to nobody

[2014-06-16 17:00] #116 closed, assigned to nobody

[2014-06-16 18:35] #114 closed, assigned to nobody

[2014-06-16 19:15] #112 closed, assigned to nobody

[2014-06-17 16:18] domenic opened #119 "Validate queueing strategies are sufficiently powerful"
I'm going to consolidate a few threads into this one.
## Current Spec

The current spec is largely based around Node's high water marks, providing I believe the exact same amount of power, although in a different API package.
### ReadableStream
- When enqueuing a chunk, its size, determined by `strategy.size`, is added to the total queue size.
- After the chunk has been enqueued, if the stream was

[2014-06-17 16:20] #24 closed, assigned to nobody

[2014-06-17 16:29] #76 closed, assigned to nobody

[2014-06-17 16:35] domenic opened #120 "Create configurable stress-test performance suite"
From @isaacs in https://github.com/whatwg/streams/issues/13#issuecomment-37357941:

[2014-06-17 16:36] domenic opened #121 "Fix queueing strategies to restart flow after dipping below high water marks"
As explained in https://github.com/whatwg/streams/issues/13#issuecomment-37231857, I was confused about what high water marks did. This needs to get fixed ASAP.

[2014-06-17 16:38] #13 closed, assigned to nobody

[2014-06-17 16:47] #64 closed, assigned to nobody

[2014-06-17 23:03] domenic opened #122 "Queueing strategy methods should not be extracted"
Currently we do `this.[[strategySize]] = size`, i.e. we destructure the strategy object into its component functions. This won't work for things like our CountQueuingStrategy and ByteLengthQueuingStrategy because they use methods, not functions.

We should retain the strategy object itself, and invoke the methods appropriately. We already have to (and do) handle the methods throwing, so in the sam

[2014-06-19 16:19] tyoshino opened #123 "Why [[waitPromise]] is set to a newly created resolved promise in read() and cancel()?"
(I might just have forgotten it. But let me ask again, sorry.)

In the `read()` and `cancel()` algorithm, `[[waitPromise]]` is replaced with a newly created resolved promise.

I guess when `[[state]]` is `"readable"`, `[[waitPromise]]` is always already set to a resolved promise.

[2014-06-20 00:16] #121 closed, assigned to nobody

[2014-06-20 20:15] #122 closed, assigned to nobody

[2014-06-20 20:34] #123 closed, assigned to nobody

[2014-06-24 21:31] domenic opened #126 "FAQs that need answers"
- [ ] Are you supporting object streams or only binary/string streams?
- [ ] What are the main differences from Node.js streams?
- [ ] How does this relate to "observables" or "async iterators"?
- [ ] What's the deal with this `wait()` pattern?

[2014-06-26 07:06] tyoshino opened #128 "Ensure that exceptions in internal algorithms are handled"
There're several places invoking a strategy function in the WritableStream. The first one in `write()` is fine as it throws before making any change to the internal state of the WritableStream. Ones in `[[syncStateWithQueue]]` are happening after modifying the queue. So, we should handle them to put the stream into errored state. WDYH?

[2014-06-26 07:25] tyoshino opened #129 "pipeTo: various cases can ignore errors; they should be passed as cancel/abort reasons instead"
When `dest.write()` puts `dest` into errored state synchronously (i.e. `[[error]]` is called during `[[onWrite]]` call or `[[onWrite]]` throws), the `fillDest()` call next to `dest.write()` will call `cancelSource()` without any argument. Maybe we want to pass the reason to the source as well as the other cases (`dest.wait()` call case, `dest.write()` call but catch-ed case).

[2014-06-27 12:33] tyoshino opened #130 "Should delegate functions of underlying sink/source return promises or call given functions"
cc/ @yutakahirano

I investigated how continuous call to `close()` and `abort()` of WritableStream results in `[[onClose]]` and `[[onAbort]]` call.

If `close()` returns a non-promise value synchronously, i.e. it complete successfully and synchronously, the returned value will be resolved to a promise, and "upon fulfillment" code will be run asynchronously. This means the state doesn't change to `

[2014-07-02 19:23] marcoscaceres opened #133 "Add list of simple use cases"
I sent a link to the streams spec to a non-technical colleague and he was all like: "this is too technical, I can't work out what it does".

Can we add a really simple list of funky examples of the kinds of things you can do with the API somewhere. It will help less technical people without experience in streams see new opportunities for the things that could be built using this.

Like:
- Video ef

[2014-07-10 09:23] tyoshino opened #135 "Recursive call of [[advanceQueue]] may overflow stack"
`signalDone` calls `[[advanceQueue]]` synchronously. So, when there're lots of writeRecords in the queue, there's a risk of stack overflow.

I wrote a test first. Let's discuss how to resolve the issue.

https://github.com/whatwg/streams/pull/134

[2014-07-11 18:48] #129 closed, assigned to nobody

[2014-07-14 17:59] tyoshino opened #137 "pipeTo: Seeking for simplified algorithm"
Thanks Domenic. I confirmed that you've fixed many issues of `pipeTo` in #129. But maybe still some issues are left unaddressed. For example, if `pipeTo` is invoked when `ws` is in `waiting` state and then `rs` is cancelled, current `pipeTo` doesn't catch the event. I remember we had discussed several unusual use of `cancel()`. This might be categorized as such an unusual use case but not sure, so

[2014-07-16 08:18] tyoshino opened #139 "WritableStream: Pass [[error]] to the sink on start() call"
Different from `ReadableStream`, `[[error]]` is not given to the sink until the first `write` happens. It sounds that it's not unusual that a sink want to tell some error to the user. For example, if underlying sink is a socket to network, it may get closed due to timeout before any write attempt is made on the `WritableStream`, and it's good to notify the user of the issue without waiting for the

[2014-07-16 15:18] domenic opened #140 "wait() returns incorrect promise for WritableStreams in writable state"
From #138:

[2014-07-16 18:16] domenic opened #141 "WritableStream: start() should delay [[advanceQueue]] calls"
From https://github.com/whatwg/streams/issues/139#issuecomment-49204030:

[2014-07-17 18:32] domenic opened #145 "Potentially simplify callOrScheduleAdvanceQueue"
We could possibly eliminate this and always wait for startedPromise. That would mean advanceQueue is always asynchronous.

Two questions:

1. Would such a change be observable to current code? If so, how?
2. Assuming that it is observable, what would be the perf hit in realistic situations?

My guess for 1 is that it would make the underlying sink's write() always called asynchronously (which fixe

[2014-07-17 18:36] #141 closed, assigned to nobody

[2014-07-17 18:36] #137 closed, assigned to nobody

[2014-07-17 19:02] domenic opened #146 "pipeFrom to allow writable streams to "pull" at their own pace"
This spins out of the ["Questions about the Fetch API"](http://lists.whatwg.org/pipermail/whatwg-whatwg.org/2014-July/297172.html) thread on the whatwg list, in particular @willchan's reply around [here](http://lists.whatwg.org/pipermail/whatwg-whatwg.org/2014-July/297224.html) and the subsequent follow-ups. We had a video-chat conversation that helped clarify things and I want to capture them her

[2014-07-21 17:59] #140 closed, assigned to nobody

[2014-07-22 12:54] tyoshino opened #153 "pipeTo() pulls the source even when the dest is not yet writable"
Forked from #146

aedbf18174dd7d39f4df6ff553771aaf05cf0f15 changed `pipeTo()` to call `wait()` even when the dest is not yet in `"writable"` state. If this is unexpected, we can change the argument of the `Promise.race()` call for `source`:`"waiting"` && `dest`:`"waiting"` to `source.closed` to watch only `"closed"` and `"errored"` event.

Maybe need to wait for conclusion on #146.

[2014-07-24 14:53] calvinmetcalf opened #160 "duck typing vs subclassing vs instances"
What is the idea for readable and writable streams being used in the wild, is it that
- streams will be duck typed like the duplex streams
- subclassed like node streams
- instances of a constructor like Promises
- some combination

[2014-07-24 16:28] #139 closed, assigned to nobody

[2014-07-24 16:45] domenic opened #161 "Use abstract operations instead of internal methods"
Internal methods are misleading. It is better to restrict internal to "internal slots," i.e. things we need to store directly on the object, but privately.

We should follow the ES spec and use abstract operations instead.

Note that e.g. `[[onCancel]]` would remain in an internal slot, since it is a function we are storing. Whereas `[[callOrScheduleAdvanceQueue]]` would become an abstract operati

[2014-07-31 08:51] hemanth opened #163 "Broken link?"
[/streams](https://whatwg.github.io/streams/)

[code]

[2014-08-01 01:10] calvinmetcalf opened #164 "wait method"
wait seams like a non idiomatic use of promises as its more like an event as it can happen multiple times.  E.G. the problem is that wait isn't a promise that resolves into the stream being in a readable state, it resolves into the stream having been in a readable state (and might still be, might not. For instance

[code]

if the stream then got one piece of readable information, one of those woul

[2014-08-01 21:44] #163 closed, assigned to nobody

[2014-08-05 08:08] yutakahirano opened #166 "Shoudn't enqueue be ignored when draining?"
The current spec says:
 If this.[[state]] is "errored" or "closed", return false.

But close() doesn't always make [[state]] "closed". When [[queue]] is not empty, it turns [[draining]] on and wait until [[queue]] gets empty.
It seems reasonable to ignore the enqueue call when the ReadableStream is in such state.

[2014-08-07 15:07] #166 closed, assigned to nobody

[2014-08-18 20:57] #120 closed, assigned to nobody

[2014-08-19 02:51] willchan opened #171 "Chunking with Streams"
I was chatting with [jyasskin](https://github.com/jyasskin) and [agl](https://github.com/agl) (explicitly chose not to cc them on this thread, although maybe I should have) over dinner today, talking about new C++ standard library proposals around transforms, which were very similar to streams. One thing stuck out in particular to me, where partial writes/reads matter for chunked protocols. Lookin

[2014-08-19 10:49] tyoshino opened #172 "Do we need error-after-drain functionality?"
`[[error]]` clears `[[queue]]` and synchronously puts the `ReadableStream` into the `"errored"` state. I wonder if there's use cases of error-after-drain, that is error delivered to the public API side after all queued data is read out like how close() is delivered.

One thing I come up with is receiving data from network, fail due to network issue, and then resume receiving. It's not good to thro

[2014-08-21 02:46] domenic opened #174 "Need new names for { input, output }"
Originally raised in https://github.com/sysapps/tcp-udp-sockets/issues/69.

My thinking has been that you write things in to the input (a writable stream), and you read them out of the output (a readable stream).

Apparently this is at odds with most other programming libraries, for which you write to output and read from input. Unix stdin/stdout is an example, but also some Java stream APIs.

We

[2014-08-22 18:40] domenic opened #176 "ReadableByteStreams: missing APIs"
- [x] `read()`: should be defined in terms of `this.readInto` (not in terms of `[[readInto]]`, note).
- [x] `pipeTo()`: if we have `read()`, can we just reuse that algorithm in the general case? How can we special-case for WritableByteStream to maximize efficiency? That part at least depends on knowing what WritableByteStream is.
- [ ] `pipeThrough()`: I think this should literally be `ReadableByt

[2014-08-22 18:43] domenic opened #177 "Byte streams: write up design rationales and vision for how they are used/what they enable"
A few things I can think of worth including:

- [x] Discussions from #173 about the socket-inspired design and how that works out
- [ ] Exactly how usage is envisioned, and how that usage will be more efficient than using generic streams. (This may include speculations about WritableByteStream.)
- [ ] How they interoperate with generic streams (i.e., it should be seamless, with potential efficienc

[2014-08-22 21:48] domenic opened #178 "Notation for internal slots and this usage"
This is mostly to get @allenwb's opinion.

We are writing our algorithms ES-spec style, for precision. However, since this isn't actually the ES spec, we have the opportunity to depart a bit in favor of brevity when we can do so without causing ambiguity.

Two of the most annoying things in writing ES-spec text are:
- Having to alias **this**, e.g. "Let _O_ be the **this** value"
- Having to say l

[2014-08-25 22:35] domenic opened #179 "Readable stream HWMs still don't feel right"
I need some help remembering why we ended up where we are, @tyoshino, and maybe fixing it if you agree that it's bad.

Current design:
- needsMore() returns true iff queueSize < HWM
- needsMore() check is made after enqueuing, so it gets passed (previous queue size + size of just-enqueued chunk)
- streams by default have a HWM of 0

Thus:
- HWM of 0 (default) => needsMore() always returns false =>

[2014-08-27 06:59] tyoshino opened #181 "Hide impl of the abstract operations in readable-byte-stream.js"
Make them non-exported functions

[2014-08-27 16:01] domenic opened #184 "pipeTo has a redundant line"
All the tests we have pass even if we comment out `.catch(cancelSource)` on the `dest.write()` call in the pipeTo() impl. This is because any errors generated by `write()` will also be generated by `wait()`.

I think we should remove that line, unless we can think of some edge case where it is useful.

[2014-08-28 04:26] tyoshino opened #185 "Promises based transform()"
Branched from https://github.com/whatwg/streams/pull/180/files#r16783645

tyoshino

domenic

[2014-08-28 08:48] tyoshino opened #187 "Valid value for strategy.size()"
The only check about strategy.size() is NaN check inside EnqueueValueWithSize().
- Do we want to accept non-integer value?
- Do we want to accept 0?

[2014-08-28 22:21] #135 closed, assigned to domenic

[2014-08-29 15:51] domenic opened #189 "Fix default queuing strategy and pull() behavior"
As per discussion in #179, we should:
- [x] Replace `needsMore(s) { return s < HWM }` with `shouldApplyBackpressure(s) { return s > HWM }`
- [x] Have a default HWM of 1 for CountQueuingStrategy.
- [x] For now, have no default for ByteLengthQueuingStrategy (i.e. it throws if no HWM is provided).
- [x] `enqueue()` returns the result of `!shouldApplyBackpressure(queueSize)` after pushing to the queue

[2014-08-29 16:01] #184 closed, assigned to nobody

[2014-08-29 16:50] #174 closed, assigned to domenic

[2014-08-29 16:51] domenic opened #190 "TransformStream probably doesn't need two strategies"
See discussion in https://github.com/whatwg/streams/pull/169#discussion_r16258931.

[2014-08-29 16:55] #187 closed, assigned to nobody

[2014-08-29 22:01] #164 closed, assigned to nobody

[2014-09-05 11:08] tyoshino opened #195 "Promises returned by WritableStream.abort() may be resolved with non-undefined value"
Do we want to convert the value with which the result of promise-calling **this**.[[onAbort]](_reason_) is fulfilled to **undefined** as well as `close()` and `write()`?

[2014-09-05 18:11] #195 closed, assigned to nobody

[2014-09-05 18:45] domenic opened #201 "Customizing pipeTo"
Currently pipeTo takes a second options argument, which can be { close: false } to turn off automatically closing the writable stream when the readable stream is exhausted.

Proposed improvements:
- [ ] Switch the boolean, so that false is the default, as is best practice for APIs that accept booleans. I think { preventClose: true } would be the new one.
- [ ] Add a way of controlling whether we a

[2014-09-08 10:43] domenic opened #208 "Add code coverage to reference implementation"
@tyoshino is really good at plugging coverage gaps in our test suite :D. But, it'd be good to get a computer to find them for us.

Normally I would use [istanbul](http://npmjs.org/istanbul) but our usage of ES6 via Traceur throws a wrench into things. We could probably get Istanbul running on the transpiled output, which would be better than nothing. But it will not be as easy to use and digest as

[2014-09-08 10:44] domenic opened #209 "Fix reference implementation stack traces in the tests"
When testing, due to the transpiled nature of the reference implementation, stack traces are always off, and the line numbers are useless.

I am 100% sure this is a solved problem, using source maps and some automatic stack-trace rewriting. Integrating it into our pipeline will presumably be a bit of work, but would be a nice boost.

[2014-09-08 10:55] domenic opened #211 "Move official spec to streams.spec.whatwg.org"
The longer we leave the https://whatwg.github.io/streams/ URL out there, the more people will start linking to it, which is bad since I meant it only as a convenient stopgap while I figured out the server config necessary to get it to its final destination.

Tagging in @annevk @Hixie for help:

The deployment should of course be automatic. Right now the deployment is done via Travis CI and [this s

[2014-09-09 06:20] matthewlopez0977 opened #212 "shell?"
Could someone explain to me the shell part of the code.... I mean... is the browser also a terminal too? In that way, not the specific, but why is it there,and how it can be executed in the browser.

[2014-09-12 16:46] #212 closed, assigned to nobody

[2014-09-12 16:49] domenic opened #216 "Put test results in margins of the spec"
I envision something that looks cosmetically kind of like http://dev.w3.org/csswg/css-variables/. Probably uses Sauce Labs to automate the tests. There's a lot of fun stuff you could do with this.

This is work for decently far in the future but wanted to log it here.

[2014-09-12 16:49] domenic opened #217 "Run ReadableStream tests against ReadableByteStream"
At some point we probably want to figure out a way of running the ReadableStream tests against ReadableByteStream to cover their common surface area in terms of usage.

Will need to figure out some way of factoring out the creation logic, since that differs between each.

We might want to leave this for later when I am figuring out #216.

[2014-10-02 22:58] domenic opened #221 "Add popover on branch and commit snapshots"
URLs like https://streams.spec.whatwg.org/branch-snapshots/move-readable-stream/ should get a popover explaining that this is a branch and is not part of the living standard.

URLs like https://streams.spec.whatwg.org/commit-snapshots/fa8bcc0318e5f62d099d761a651cd10e334308b4/ should have a popover explaining they are commit snapshots and likely not up-to-date and should not be used by implementers

[2014-10-02 23:09] domenic opened #222 "Allow filing an issue from the spec directly"
Depends on https://github.com/whatwg/resources.whatwg.org/issues/4. See e.g. the "File a bug about the selected text" link on https://fetch.spec.whatwg.org/ for a working example.

[2014-10-06 00:17] domenic opened #223 "Add way to get URL of current spec commit snapshot"
There needs to be a link somewhere that lets you press it and your URL will change to be the corresponding URL for the current commit snapshot. (The hotkey `y` should also trigger this, like on GitHub.) This should happen in-place, not causing a reload or losing your location hash. It should automatically cause the banner from #221 to appear. It should work both when you are on "master" and on a b

[2014-10-06 19:18] #211 closed, assigned to domenic

[2014-10-06 19:33] #62 closed, assigned to nobody

[2014-10-06 19:34] #178 closed, assigned to nobody

[2014-10-06 19:39] #111 closed, assigned to nobody

[2014-10-06 19:45] #161 closed, assigned to nobody

[2014-10-06 19:46] #181 closed, assigned to tyoshino

[2014-10-06 21:09] #160 closed, assigned to nobody

[2014-10-09 20:55] #133 closed, assigned to nobody

[2014-10-15 21:25] #128 closed, assigned to domenic

[2014-10-15 22:16] #201 closed, assigned to domenic

[2014-10-15 22:21] #179 closed, assigned to domenic

[2014-10-15 22:48] domenic opened #228 "Things to move into/add to the spec text"
Now that https://streams.spec.whatwg.org/ is real, we need to start filling out missing parts
- [x] pipeTo (#512)
- [x] pipeThrough non-normative description
- [x] %DefaultWritableStreamStrategy%
- [x] %DefaultReadableStreamStrategy%
- [x] Make ByteLengthQueuingStrategy more formally correct
- [x] Make CountQueuingStrategy more formally correct
- [x] TransformStream
  - Blocked on #190
- [x] Writa

[2014-10-15 22:49] domenic opened #229 "s/t.strictEqual/t.equal throughout test suite"
They are synonyms, and using both is confusing. We should do this at some point when all the open PRs have been accepted so as to avoid conflicts.

[2014-10-15 22:50] domenic opened #230 "Make reference implementation stop using underscore-prefixed methods"
In the new text at https://streams.spec.whatwg.org/, abstract operations have been properly extracted, including the creation of e.g. readable stream enqueue functions. The reference implementation should be updated to reflect this, by pulling those functions out instead of having them be underscore-prefixed methods on the stream.

This should be done at a point when all the other PRs are settled

[2014-10-16 15:14] #229 closed, assigned to nobody

[2014-10-20 19:02] #230 closed, assigned to nobody

[2014-10-20 20:18] #209 closed, assigned to domenic

[2014-10-21 18:37] domenic opened #236 "Should pipeTo return a promise for when the piping completes?"
In an offline thread, @acolwell was looking at a scenario where you'd do `rs.pipeTo(ws, { preventClose: true })` and wondering how to know when the piping was finished. This would be important for e.g. concatenating multiple readable streams into a writable stream.

You could do this by monitoring `rs.closed`, but that feels a bit oblique and inverted. We could have `pipeTo` return a promise that

[2014-10-22 14:41] domenic opened #237 "Readable stream state machine is missing a transition"
Was just staring at it and noticed this...

Calling close() while in the waiting state will go directly to closed.

[2014-10-27 16:38] #236 closed, assigned to nobody

[2014-10-28 21:26] #237 closed, assigned to domenic

[2014-10-28 23:01] domenic opened #241 "Should we "lock" readable streams while piping?"
Inspired by:
- https://github.com/slightlyoff/ServiceWorker/issues/452#issuecomment-60652562
- https://github.com/whatwg/streams/issues/97
- An offline email conversation with @acolwell

Right now, if you are piping a readable stream to a writable stream, you can also concurrently call `.read()`. Usually this will just cause a mess, but it fell out of the design naturally.

Both "off-main thread p

[2014-10-30 07:38] tyoshino opened #242 "Initial state of WritableStream"
In the current spec we starts from the `"writable"` state. We occasionally discussed this but let's give a conclusion here.

Since [[queue]] and [[strategy]] start working independent from the sink, I think it makes sense to start from `"writable"`. But I think we still need to consult [[strategy]] to determine the initial state as we do in `SyncWritableStreamStateWithQueue()`.

Another option is

[2014-11-04 17:17] domenic opened #243 "Move from .wait() to .ready"
After the work in #234 lands wait() will no longer be side-effecting. So it should become a property, not function. `.ready` is a good name.

[2014-11-05 04:57] tyoshino opened #244 "Communication between workers/windows via Streams API"
/cc @sicking @domenic

A separate thread to continue discussion started at https://github.com/whatwg/streams/issues/97#issuecomment-60809227.

[2014-11-06 10:53] #189 closed, assigned to tyoshino

[2014-11-06 10:55] #153 closed, assigned to nobody

[2014-11-24 22:42] #243 closed, assigned to nobody

[2014-11-24 22:56] domenic opened #245 "Make .ready fulfill-only?"
Continuing from https://github.com/whatwg/streams/issues/243#issuecomment-62424537:

The essential issue is that right now `rs.ready.then(f, r)` might call `f` at a time when the stream is actually in an errored state, if the underlying source or sink causes an error between becoming readable and `f` being called. So the story is something like "usually if `f` is called it'll be readable or closed

[2014-11-25 22:52] #242 closed, assigned to nobody

[2014-11-26 00:08] #222 closed, assigned to nobody

[2014-12-02 16:33] #245 closed, assigned to domenic

[2014-12-04 19:48] wenbozhu opened #249 "Clarify how/whether Stream/TransformStream may read/write "messages""
Use cases:
1. a stream-oriented protocol, such as HTTP, used for delivering messages between the client and server with an overlay protocol (e.g. different Push protocols tunneled over HTTP)
2. a message-oriented L7 protocol, such as WebSocket

Proposed requirements under the Stream API model:
1. Message framing.
1.1) by wire-level chunks, no-op, e.g. WebSocket
1.2) by MIME type, e.g. JSON array,

[2014-12-10 21:55] josh opened #252 "Garbage collection"
It seems like most persisted stream APIs like WebSockets or WebRTC have some sort of defined garbage collection behavior.

http://www.w3.org/TR/2011/WD-websockets-20110929/#garbage-collection
http://w3c.github.io/webrtc-pc/#garbage-collection

Let’s say you create a `new WebSocket('ws://localhost')` and forgot about it, it *MAY* be GC’d. But once you ask for you stream you’ve created an observing

[2014-12-10 22:32] domenic opened #253 "Support reading bytes into buffers allocated by user code on platforms where only async read is available"
Had a thought-provoking conversation with @piscisaureus today. He works on libuv and was giving me their perspective on how they do I/O and how it interfaces with Node.js's streams.

He pointed out that resources like files and pipes shared with other processes (seekable resources, he called them) don't have the epoll + read interface that ReadableByteStream's current design is based on. In Node.j

[2014-12-11 22:41] domenic opened #254 "Document globals created by this spec"
Partially due to our failure to use WebIDL (#45), it isn't actually documented how `ReadableStream` and friends are exposed.

We should add a section on this at least. Mainly because ExclusiveStreamReader should probably *not* be globally exposed, even though it has a constructor.

[2014-12-12 01:50] domenic opened #255 "Reorganize examples"
The examples are overwhelming and misplaced as-is.

- [x] Move all examples of creating streams to an appendix
- [x] Flesh out examples of using streams to make sure we capture the essence
- [x] Reduce complexity of creating-stream examples. One major potential simplification is to wrap underlying sources/sinks that use promises instead of callbacks.
- [x] Consider placing examples of method usage

[2014-12-19 19:49] jkrems opened #256 "Allow object with methods to be passed as (writeable) sink"
Sorry if something similar was already discussed, I searched in the issues and couldn't find anything.

One pattern node uses[1] is to attach internal fields (e.g. pointers to native structures) to objects. When methods are called on instances later on, their native implementations can access these internal fields. The problem is now that these constructs only work if the methods are actually call

[2014-12-29 21:49] #241 closed, assigned to nobody

[2014-12-29 21:53] #249 closed, assigned to nobody

[2014-12-30 23:46] #221 closed, assigned to nobody

[2015-01-06 01:21] domenic commented on #255
This is starting at https://streams.spec.whatwg.org/branch-snapshots/examples/ where I have so far tweaked/moved the readable stream examples

[2015-01-06 04:54] tyoshino opened #258 "[Reader] Should resolve readyPromise on getReader() call?"
@yutakahirano pointed out that `readableStream.getReader()` must resolve the current promise stored in `[[readyPromise]]` and replace it with a new pending promise.

After `getReader()` call, the `ready` getter starts masking (starts returning `[[lockReleased]]`). But if `[[readyPromise]]` is already obtained like the following example, it stays to be working as `[[readyPromise]]` (i.e. receives a

[2015-01-06 05:05] tyoshino commented on #241
Took a look at `Locking Design Doc.md`. Almost all of the rationale looks good to me.

I agree that there's no compelling reason for exposing stream.isLocked, yet.

`lock.isActive` looks useful as Yutaka said (https://github.com/whatwg/streams/issues/241#issuecomment-65218999) but I also wonder if there's any concrete use case where this is required (not just useful).

`releaseLock()` maybe to mak

[2015-01-06 05:31] domenic commented on #258
Gah, I thought I had a test case for this. I guess I missed it though.

Right now the contract for `ready` is that it only fulfills if the state is no longer "waiting". I would prefer to keep that contract if possible. So I don't think resolving it on the `getReader()` call is very good.

I think this might be fixable via something like `return this._readyPromise.then(() => this._reader !== undefi

[2015-01-06 05:40] yutakahirano commented on #258
IIUC we already have waiting => waiting transition.

[code]

The above code prints 'state becomes waiting', right?

[2015-01-06 05:40] domenic commented on #241
Thanks for the review @tyoshino; sorry I didn't get a chance to pass it by you earlier.

Yeah, maybe we should remove it until someone asks for it?

I guess part of the reason I have it is that it's better to avoid forcing people to use try/catch. I can't think of a real world situation where you would, but it seems nicer to be able to do

[code]

instead of

[code]

I said releaseLock() since usu

[2015-01-06 05:42] domenic commented on #258
Augh, good catch @yutakahirano, I should fix that one too!! `return this._reader._lockReleased.then(() => this._readyPromise)`, is my untested patch :).

Clearly need moar tests...

[2015-01-06 07:17] tyoshino commented on #241
I was on vacation and didn't have time to do it, sorry. Thanks so much for great progress!

Oh, I see. I'm now a little inclined to keep it.

Got it!

Thanks for explanation. I understand and agree that it makes sense for transition-to-"closed" case.

When a reader is unlocked while the associated stream is readable/waiting, it's a bit weird to keep exposing the non-closed stream's status via the

[2015-01-06 07:21] tyoshino commented on #241
I.e. making
- `ready` return a resolved promise
- `state` return "closed"
- `closed` return a resolved promise

or keep it look waiting?

Ah, for errored case, we should make the reader look errored, sorry.

[2015-01-06 18:30] tyoshino commented on #258
When reading the lock system, I came up with alternative that is to switch the target promise of each algorithm (e.g. `read()`). Discussed with @yutakahirano and summarized the ideas.

When lock is not in use, `[[readyPromise]]` is exposed via `ready` getter. In the current design, `read()`, etc. works on `[[readyPromise]]` even after a lock is created.

In the alternative approach,
- we stop acce

[2015-01-08 22:40] domenic opened #259 "Add IsReadableStreamLocked abstract operation"
See https://github.com/yutakahirano/fetch-with-streams/issues/9

[2015-01-08 23:02] domenic commented on #241
Hmm, that's interesting. I think it is better than what we have now, yes. I will open an issue to take care of it.

[2015-01-08 23:04] domenic opened #260 "Make stream readers look closed when released"
In https://github.com/whatwg/streams/issues/241#issuecomment-68834017 @tyoshino proposed making a stream reader look "closed" once it is released. Right now it just passes through `ready`/`state`/`closed` to the underlying stream, although `read()` and `cancel()` fail.

There's no immediately-convincing argument for one over the other, but after some thought I think the "closed" is better. It mean

[2015-01-12 19:25] #252 closed

[2015-01-13 01:21] domenic commented on #258
I am working on this + #260 in the reader-fixups branch. I was able to solve the waiting → waiting transition from https://github.com/whatwg/streams/issues/258#issuecomment-68828539 easily but the one from the OP is not as easy.

I'm interested in if you can make the alternative approach work somehow. Would appreciate hearing how you guys are doing on that. The design principle to keep in mind fro

[2015-01-14 00:00] domenic commented on #258
OK. I thought about this for about an hour. I don't think there's a fix possible given the current design.

Our requirements are contradictory:

- `rs.ready` needs to fulfill when the stream transitions away from `"waiting"`,
- AND it must not fulfill when there is a reader present,
- EXCEPT if the promise was originally retrieved by the reader itself as part of [the reader's `ready` getter](https

[2015-01-14 02:39] domenic commented on #258
One thing I forgot to mention is that if people want to override read()/state/ready and still have a reader that consults those, they can always override getReader() to return a custom reader.

---

The reader-fixups branch contains these changes. I also made separate readers for ReadableStream and ReadableByteStream. This allows them to be monomorphic, and it aligns with our story of how authors

[2015-01-14 02:50] domenic commented on #259
Blocked on https://github.com/slightlyoff/ServiceWorker/issues/452#issuecomment-69266089

[2015-01-14 21:40] domenic opened #261 "Spec brand checks"
Right now the methods don't do appropriate brand checks before executing their body. They should. Except the generic ones.

[2015-01-15 20:32] domenic opened #263 "ready fulfilling when state ends up being "waiting" due to reading in the same turn"
This is mostly for discussion, as it is probably not a big problem. But I wanted to lay it out.

In the review of some reader fixes at https://github.com/whatwg/streams/pull/262#discussion_r22993414 @yutakahirano pointed what you could see as a potential waiting -> waiting transition. It occurs even without readers so I think we can leave them out of the discussion. An example:

[code]

Normally w

[2015-01-16 00:12] domenic commented on #256
In progress in the first-class-source-sink-objects branch. A bit more work than expected because of the defaulting behavior.

[2015-01-16 00:13] domenic commented on #223
Blocked on https://github.com/tabatkins/bikeshed/issues/322

[2015-01-16 20:02] domenic opened #264 "Factor out portions of a test suite that can be run against already-constructed streams"
This is tricky, but important. The idea is that in the browser there will be various APIs that return an already-constructed stream. (E.g., `fetch`.) We would like to be able to test that these browser-constructed streams behave per spec. However, all of our current tests just create streams and then test them.

One way to do this would be to perhaps annotate the tests as having certain "prerequis

[2015-01-16 20:15] #258 closed

[2015-01-16 20:15] #260 closed

[2015-01-19 13:08] tyoshino commented on #253
If the blocking I/O:

- accepts a buffer
- based on the size of the given buffer, controls how much data it pulls from the source

Then, we want to allow the user code to allocate a buffer with size determined based on their status. To realize this, yes, we need some API like `readIntoAsync()`. But between `ready + read()` and `ready + readInto(ab, offset, sizeDesired)`, I don't think there's so m

[2015-01-19 13:16] tyoshino opened #266 "Requirement on promises equality"
In the spec, we remember and return the same promises for efficiency if it's semantically correct. The algorithms we have in the spec are representing this. This may look like a requirement to the spec readers. And, we have some unit test items where we actually check this kind of equality.

Do you think this really should be a requirement?

I'm asking this since:
- When implementing the Streams i

[2015-01-19 20:03] domenic commented on #266
I think it should definitely be a requirement. It's very strange to have JavaScript properties changing all the time such that e.g. `rs.ready !== rs.ready`. They should only change when they need to.

[2015-01-20 03:25] tyoshino commented on #266
@domenic OK. So, it means that `rs.ready` should return the same instance until we're asked to replace `[[readyPromise]]` on e.g. `"readable"` to `"waiting"` transition?

How about the result of `cancel()` call on a `"closed"` or "`errored`" stream? It's now specified to return `[[closedPromise]]` than creating a new one resolved/rejected for efficiency. Do you think it also should be a requiremen

[2015-01-20 04:48] domenic commented on #266
Yeah, definitely.

We should make sure to normatively specify and test one way or another. But since it's a method instead of property I would be OK either way. I think the way it is now makes some sense but I'd be OK either way. We just need to make sure all implementations agree.

[2015-01-20 13:35] tyoshino commented on #263
Please take a look at PR #268.

[2015-01-20 21:03] #263 closed

[2015-01-21 17:48] domenic opened #269 "Should readable streams start right away?"
Inspired by https://github.com/slightlyoff/ServiceWorker/issues/606, it occurs to me that this might be a more general problem.

Right now, creating a readable stream is intended to start the flow of data into it. At least one chunk should (eventually) be enqueued, to move the stream from `"waiting"` to `"readable"`. If this never happens, then the stream never becomes readable, and is useless. In

[2015-01-22 06:21] tyoshino commented on #269
Thsi is kinda related to https://github.com/whatwg/streams/issues/74#issuecomment-35360083

I suggested removal of `wait()` as it's a little strange that we `pull()` automatically on data shortage but the initial `pull()` was invoked only when `wait()` was called.

And, instead, I planned ... to propose some API to allow the user to tell the Stream to start/stop `pull()` possibly with some number

[2015-01-22 06:23] tyoshino commented on #269
Sorry. I put a wrong issue ID in the last comment. Just fixed.

[2015-01-22 06:49] tyoshino commented on #269
In the Fetch's Response's case, the underlying source lives and is hidden in the Response?

It doesn't look so weird if the `text()`, `body()`, etc. ask the internal underlying source to "start" the stream when they are called. What do you think this reasoning if combined with https://github.com/slightlyoff/ServiceWorker/issues/606#issuecomment-70976257?

[2015-01-22 07:54] tyoshino commented on #269
3 comments above are about (2) of Domenic's first post, i.e. introducing "inert" state to the ReadableStream API.

[2015-01-22 15:53] domenic commented on #269
Agreed.

Agreed.

I think it's valid reasoning. But there's another point of view which is equally valid IMO, *if you look only at the public API and not how it's implemented*. Which is that, the `body` getter returns the stream which has an underlying source that is already started (but not yet finished starting/pulling). The developer cannot tell the difference, based on the public API only, bet

[2015-01-22 20:54] #256 closed

[2015-01-22 20:58] domenic commented on #130
I think this is largely close-able now. Especially with the changes from wait() to ready.

[2015-01-22 20:58] #130 closed

[2015-01-22 23:09] domenic commented on #3
Turns out @acolwell needs this for the MSE spec, see step 9.3 of https://w3c.github.io/media-source/#sourcebuffer-stream-append-loop

Also I think with the `ExclusiveReader` API some of the optimization concerns above (that I see upon re-reading this thread) are probably addressed.

I'll try to work on this soon, probably week of 2015-02-02 since TC39 is next week.

[2015-01-23 03:17] tyoshino commented on #269
Agreed. Ah, so, the proposal of mine is just a variant of (1) in your first post.

[2015-01-23 07:30] yutakahirano commented on #269
Sorry, I don't understand. @tyoshino, do you still plan to add an API you mentioned at https://github.com/whatwg/streams/issues/269#issuecomment-70976753?

[2015-01-23 21:01] #261 closed

[2015-01-23 21:08] #255 closed

[2015-01-24 00:20] domenic commented on #185
Consider the example at https://streams.spec.whatwg.org/#example-rs-pull, in particular:

[code]

with promises, this would become

[code]

That is, it allows you to return a promise for error propagation. That's kind of nice. Not revolutionary. And I think it introduces a one-turn delay?

However, consider the case of a simple duplicater transform:

[code]

could become

[code]

which is a lot ni

[2015-01-27 00:31] domenic opened #271 "Define "tee"ing a stream"
See https://github.com/yutakahirano/fetch-with-streams/issues/14. Fetch has `req.clone()` and `res.clone()` which are currently ill-defined. They should be defined here, in a generic fashion, and probably there should be a user-exposed API for it (one way or another).

Our current experiments with this are in TeeStream.md, but those are probably very outdated.

[2015-01-27 02:17] domenic commented on #185
#272 fixes this for readable streams. I will leave this open to track updating transform streams for a future sprint when I focus on those, but remove the "Week of 2015-01-19" milestone since the portion I wanted to accomplish last week is now finished.

[2015-01-27 03:14] #254 closed

[2015-01-27 06:39] tyoshino commented on #269
@yutakahirano I do. But it's just one of the solutions we have to address the issue (https://github.com/slightlyoff/ServiceWorker/issues/606).

https://github.com/whatwg/streams/issues/269#issuecomment-70978727 which is elaborated by Domenic in https://github.com/whatwg/streams/issues/269#issuecomment-71042249 is categorized into approaches that add a trigger point to make the response "inert" to

[2015-01-27 22:21] #223 closed

[2015-01-29 05:18] yutakahirano commented on #271
From fetch API point of view it might be desirable that `req.clone()` does not change `req.body` although I don't know if it is feasible from Streams point of view.

[2015-01-29 05:36] domenic commented on #271
Yeah, this might be tricky to get right... I don't immediately see how to do it, but I want to stare at it for a while and see if maybe there's a way to make it work.

[2015-02-02 20:54] domenic commented on #266
@tyoshino @yhirano as implementers, any thoughts one way or the other, for cancel(), close(), abort(), or any other methods? I am OK specifying them as new promises in all cases if that seems desirable. It's a bit nicer if the methods don't share return values with other places in the system, but it is a minor efficiency loss, so I could go either way.

[2015-02-03 04:37] yutakahirano commented on #266
I'm concerned about the spec complexity. `.ready` and `.closed` changed in recent two weeks. Currently they are defined very cleanly, but can we keep the readability when we start caching?

I don't see any reason to keep promise identity on "cancel()" return value.

FYI, as @tyoshino said, we have some difficulties to ensure the identity. Currently I'm not sure if it is worth ensuring.

[2015-02-03 04:50] yutakahirano commented on #266
[code]

Can we ensure p === q === r? Then, it might be helpful to solve https://github.com/yutakahirano/fetch-with-streams/issues/15#issuecomment-72422757.

[2015-02-03 06:11] domenic commented on #266
I apologize for the churn :(. The reader stuff certainly shook things up. Hopefully should be pretty stable now...

I don't quite understand. The definition should not change due to caching. (In fact I don't think of "caching" as a separate thing; they are just getters for values which sometimes change and sometimes don't. Similar to `state`.)

Well, they have to have identity for the getters, oth

[2015-02-03 14:25] tyoshino commented on #266
I think Yutaka meant whether we can make p === q === r when the stream stays to be waiting or not.

Of course, we cannot return the same promise instance beyond `"waiting"` to `"readable"` transition. We discussed how much we can keep it unchanged.

The ideally stable behavior is that as far as there's no state transition visible to stream user (not reader user) happened, `rs.ready` returns the sa

[2015-02-03 21:05] domenic commented on #266
I think I see. The problem is that the current spec actually violates `rs.ready === rs.ready` in many cases---somehow I missed that this would happen. It would indeed be nice to fix that. I will look in to it.

[2015-02-03 22:05] domenic commented on #266
BTW I now understand why there was so much confusion. I was saying one thing---that the getter should return stable values---and then the spec was saying another thing. I didn't mean to imply that it was the implementation's job to keep the values stable even if the spec can't figure it out! I will fix the spec :)

[2015-02-04 00:12] domenic commented on #266
I would like you guys to take a look at [my attempt at fixing this for `.ready`](https://github.com/whatwg/streams/commit/d878de69243a3d8284d6239b82de4ed68f02851f). If it looks good I will do so for  `ExclusiveStreamReader` as well.

(An interesting point to note is that I tested by commenting out each "cache invalidation" and every one causes at least some tests to fail or hang. So that's good!)

[2015-02-04 04:04] yutakahirano commented on #266
If we ensure `.ready` object identity and specify that breaks when the internal state changes, a user can observe an internal state change even when locked. That is not desirable.

[code]

[2015-02-04 04:29] wanderview opened #276 "can streams be transferred via postMessage()?"
Are there plans to support transferring streams between workers or iframes using postMessage?

This question came up in https://bugzilla.mozilla.org/show_bug.cgi?id=1128959#c2

[2015-02-04 15:44] tyoshino commented on #266
Domenic. Had a look at your change. It's nice work but as Yutaka pointed out, it's revealing the internal state.

This issue made me rethink the whole architecture. We gave up a lot recently such as that the reader can be used for stream subclasses, etc. It looks the current implementation is twisted for no longer valid requirements.

I made a PR #277 which uses a lot of interaction on hidden vari

[2015-02-05 14:45] wanderview commented on #276
I don't know if there are plans for this, but one thought I had:

1) Transferred stream is locked and drained by the UA.  The values are effectively piped to the new environment.
2) If a stream value is not a transferrable DOM object or structured clonable JS object, then the stream aborts.
3) If content wants to use the stream in two environments then it can call clone() before transferring.

[2015-02-05 16:02] domenic commented on #276
Yeah, that sounds about right. I was hoping to work out the details, and at some point I had an ambitious plan to first figure out how we clone/transfer promises and then do the same for streams (see https://github.com/dslomov-chromium/ecmascript-structured-clone/issues/5). But maybe we can just jump to the end if this is important for a particular use case that an implementer wants to implement.

[2015-02-06 05:17] domenic commented on #3
In #275 we ran in to a potential snag: what if you read the last chunk from a stream, but then want to put it back? Currently the stream closes immediately after reading the last chunk, so this is impossible. Does anyone have any ideas on solving this? What do Node streams do? If you want to hop on over to #275 and help out that would be appreciated.

[2015-02-07 04:19] h13i32maru opened #278 "I can not find the copyright of the reference implementation."
Hi!

I want to include the reference implementation of StreamsAPI to my software. I was able to find license  (MIT) in package.json. However, copyright notice can not be found.

Could you specify both the license and the copyright of the reference implementation?

[2015-02-09 11:15] yutakahirano commented on #259
I think the discussion at https://github.com/slightlyoff/ServiceWorker/issues/452 settled.

[2015-02-09 20:30] #259 closed

[2015-02-09 20:43] #278 closed

[2015-02-10 00:09] domenic commented on #253
Sorry for the delay on this. I had a hard time paging it back in.

Unfortunately I think it is the first case:

This can be seen by looking at e.g. Win32 [ReadFile](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365467%28v=vs.85%29.aspx) or Unix [fread](http://man7.org/linux/man-pages/man3/fwrite.3.html) and [pread](http://man7.org/linux/man-pages/man2/pwrite.2.html).

Yes, I agree, th

[2015-02-10 03:35] tyoshino commented on #266
#277 is closed. Now the spec and reference impl ensures the requirement https://github.com/whatwg/streams/issues/266#issuecomment-72658409.

Now, the question is if we require all the implementor to follow the requirement in the spec.

[2015-02-10 05:53] domenic commented on #266
Well, yes, we definitely do; that's why there's a spec.

The other question is what we want to do for methods. We could make them return fresh promises each time.

[2015-02-10 12:25] tyoshino commented on #253
Shall we add a new mode to ReadableByteStream, say, manual feed mode, named after manual paper feed of printers.

ReadableByteStream would have a method named `.feedArrayBuffer(arrayBuffer, offset, size)`. Via this method, the user feeds a tuple of an ArrayBuffer, offset and size. The tuples are queued and used by the ReadableByteStream to create the result ArrayBuffers to return from the `.read()

[2015-02-10 13:30] tyoshino commented on #253
PR #282 is quick prototype of the manual feedable stream.

[2015-02-10 15:05] wanderview commented on #253
Warning: naming bikeshed ahead... feel free to ignore.

I think an interface for manual allocation might be useful, but not sure the "feedable" metaphor resonates.  I've seen this kind of thing called an "allocation strategy" other places, etc.

It seems this would definitely be a power user feature, though.  So lets make sure its optional?

[2015-02-10 15:18] tyoshino commented on #266
`cancel(reason)` being called during `"closed"` or `"errored"` is just a mistake. I don't care whether it would return something stable or not.

Same about `ws.abort(reason)` on `"closed"` or `"errored"` WritableStream, and `ws.close()` on an `"errored"` WritableStream, and `ws.write()` on an `"errored"` WritableStream.

IIRC, I've been thinking that they should just return a promise rejected with

[2015-02-10 17:09] domenic commented on #266
I'm sure they were but I kind of forget the reasoning too :). It was very early days.

I think the idea was that your intent is kind of to shut down the stream and make sure no resources leak. And if you're already closed/errored then you've already accomplished that so you shouldn't get an error. But, I see the perspective of wanting to tell developers they are being overzealous too.

I will see

[2015-02-10 18:18] calvaris commented on #266
For me it makes sense a TypeError in those cases.

[2015-02-10 19:35] domenic commented on #266
We have two votes in IRC in favor of no-op.

wanderview says:

JakeA says:

On Twitter though we have [indutny with](https://twitter.com/indutny/status/565197514580967425)

and [bradleymeck with](https://twitter.com/bradleymeck/status/565199162027675648)

(I'm not @-mentioning anyone since I don't feel a need for them to get emails for everything else on this thread.)

So, uh, I dunno.

[2015-02-10 20:09] domenic commented on #253
@tyoshino this is sounding promising. I think I need a bit more detail to understand how it's supposed to work though. Especially how it interacts with readInto. I think I like the general approach though, of a more-specialized variant of ReadableByteStream that helps with this case.

Would love if you could flesh out the PR with some examples of consumer code, using read/readInto/feedArrayBuffer.

[2015-02-10 20:57] fastest963 commented on #266
If you're silent then the dev has no way of knowing if it didn't do anything (since it's already closed) but if you throw an error they can at least catch that and ignore it if they're okay being overzealous.

[2015-02-10 20:59] wanderview commented on #266
I prefer not-an-error, but I do agree having a return value that means "I did something" would be nice.

[2015-02-11 04:03] tyoshino commented on #253
wanderview: I agree that this kind of stuff is called `allocation something` or `allocator`. I used `feeding` since it's not passive (asked to allocate) but the user tells it to `pull` by putting a new ArrayBuffer via the `feedArrayBuffer()` method. I don't care so much about the naming but that's my feeling. Feed**able** might be misleading. ManualArrayBufferFeeding... is the most descriptive nam

[2015-02-11 14:22] wanderview commented on #253
Could we use the revealing constructor pattern here again?  Something like:

[code]

Then we don't need a new stream name. :-)

If we add a `free` hook, then you could build a block pool allocator strategy:

[code]

If we don't like confusing these attributes with the constructor "source" concept, then it could be set in a different method.  Something like:

[code]

Would this address the problem?

[2015-02-11 15:41] domenic commented on #253
I don't think so, unless I'm misunderstanding. The scenario I think we're trying to solve is that the _consumer_ of the stream wants to be able to do "fill up _count_ bytes of _ab_ starting at _offset_" and then the stream will use this to do an async (i.e., blocking in another thread) operation like `fread`.

I guess `setAllocator` would do that, since the consumer gets access to it. The revealin

[2015-02-11 15:44] domenic commented on #253
What would be most helpful for me to understand for all these proposed ideas is, how would a consumer---given a (Feedable?)ReadableByteStream from the UA---use the stream.

For example, if we took a drastic approach and overhauled everything so that `readInto` and `read` became async, it would be pretty clear:

[code]

What would it look like for the `feedBuffer` and `setAllocator` situations?

[2015-02-11 15:54] wanderview commented on #253
Actually, I had not thought about `setAllocator()` in the context of a DOM API producing the stream.  I'm not sure we want to make the UA depend on content script to allocate buffers.  Seems like a recipe for a bad time.

Async read seems ok to me, but I think it opens some questions.  What does it do for concurrent read() calls?  Do we allow overlap?  Ordering guaranteed?

[2015-02-11 17:08] domenic commented on #253
Well, that was kind of the entire point of ReadableByteStream, was to make it possible to do zero- or one-copy reads into user-allocated ArrayBuffers. For example you could do repeated readInto()s into the same array buffer that was pre-allocated to be the size of the file (determined by stat-ing) or response (determined by Content-Length).

Async read was more of a strawman, and I'd rather not di

[2015-02-11 17:22] wanderview commented on #253
Sorry.  You're right.  Sorry for my confusion.  I do think `setAllocator()` could work.

To answer your question, I think an allocator function could handle this like so:

[code]

I don't really like depending on state between two statements like that, but it seems the `feedBuffer()` approach has the same problem.

[2015-02-11 17:55] domenic commented on #253
I think I see.

OK, I think what we need to make this more concrete now is a series of use cases that we want to write sample code for.

Here is what I have off the top of my head. Please give me more :).

- (all) Want to read a 10 MiB file into a single ArrayBuffer
- (chunkwise) Want to read a 10 MiB file, 1 MiB at a time, re-using a single 1 MiB ArrayBuffer
- (ping-pong) Want to read a 10 MiB fi

[2015-02-11 18:22] wanderview commented on #253
I think you're right that `free` does not make sense.  If anything, the consumer would need to be doing the free'ing not the stream.  So it can just handle that logic itself if necessary.

I guess that raises the question if allocate() can return a promise to delay the next fread() until a re-usable block is ready to be processed again.

I didn't consider that `fread()` would actually be triggered

[2015-02-11 18:26] domenic commented on #253
I think maybe that is the motivation behind @tyoshino's feedArrayBuffer() paradigm. setAllocator() is a bit more automatic since you call it once instead of every time, but the ideas are starting to converge I think :).

Hmm, yeah, readInto() makes less sense here. Maybe the right way to phrase it is, I'm not sure what use case it would address. Perhaps readInto() makes more sense for the read(2)-

[2015-02-11 18:31] domenic commented on #253
One advantage of setAllocator over feedArrayBuffer is that once the allocator is set, you can pass off the ReadableByteStream to someone else and they can consume it as if it's a normal readable stream. I think with feedArrayBuffer they need to be aware of the feed/read cycle and can't just do ready/read like normal.

[2015-02-11 18:44] wanderview commented on #253
It would be nice if this didn't require a new type.

I think `setAllocator` + `readInto` would be ok.  It would just copy the data an extra time.  The fread into the allocator returned buffer and then again into the readInto buffer.  Not recommended, but not breaking.

Any readInto call would be limited to the size of the allocator returned buffer.  If readInto completely drains the buffer, then t

[2015-02-11 18:46] domenic commented on #253
I don't have much against new types, as long as they are duck-compatible on a large subset of the API. *shrug*

[2015-02-11 18:52] wanderview commented on #253
Well yea, but you were talking about removing a method... so a duck with only one foot. :-)

[2015-02-12 10:53] tyoshino commented on #253
Yeah. Streams with fread style underlying source would be queue-backed stream (though it's likely to be a single element queue) (see https://github.com/whatwg/streams/pull/275#issuecomment-73470112). So, `readInto()` is not useful but introduces an extra copy. Ben's https://github.com/whatwg/streams/issues/253#issuecomment-73938444 should just work.

----

I agree that the new user doesn't need to

[2015-02-12 17:33] domenic commented on #253
What is really worrying to me is that we seem to have painted ourselves into a corner, so that now all the ideas that we're considering involve passing off the resulting complexity to authors. Whether it be `feedArrayBuffer()` or `setAllocator()` or "follow these guidelines in the spec," in all cases it feels like this kind of sucks. All of the stuff we're discussing now seems too low-level---it's

[2015-02-12 17:41] tyoshino commented on #253
I'd like to do some survey and create a table of APIs and their characteristics (sync/async, blocking/nonblocking, bring our own buffer/returns API allocated buffer, pull and read are separate/pull and read are combined, ...). Includes some non software API stuff for metaphor.

- pull without size arg + pause
    - XON/XOFF
- pull without size arg
    - returns API allocated buffer
        - XMLHt

[2015-02-12 18:30] tyoshino commented on #253
Domenic: Oh, OK. I'll think about revisiting everything. But for now, I'm optimistic about sync read(). Like `.feedArrayBuffer()`, we could add, say `.feedReadToken()` to ReadableStream to allow users to manually control how much objects to pull. In the "precise flow control" world I envisioned, these pull/read separated interfaces are the base than the current ReadableStream in the spec.

Current

[2015-02-12 18:43] domenic commented on #253
This does make me feel better. If we can make everything fit into one conceptual model, maybe we can even add async read/readInto on top as new methods (named e.g. `readWhenReady()`) for people who don't want to have to worry about it. Would love to get some more fleshed out examples from you about how to fit this all together. I like the idea of strategy being a special case of a more general fee

[2015-02-12 18:47] domenic commented on #253
I can see the advantage of having the separation as being a more direct mapping to underlying system resources and thus giving you more control for the cases where you might need it. This is where stuff like your survey list come in handy.

[2015-02-13 19:27] tyoshino commented on #253
Still thinking, but I started feeling that `.readInto()` shouldn't be on the `ReadableByteStream` but rather be a part of the pulling tools such as `.feedArrayBuffer()`. Current `ReadableStream` is a nicely-simple and easy-to-understand queue representer. It may receive pulling signal implicitly via `.read()` call, but except that point, it's just a queue. Maybe we should decouple pulling methods/

[2015-02-13 19:51] domenic commented on #253
(Wow, when do you sleep @tyoshino!?)

Hmm yeah that is pretty interesting. I would probably use it :). I'm worried it might not be author-friendly though, even if it is good for implementers and gives a good mapping down to lower-level stuff.

Maybe it would help to more explicitly lay out the author use cases I am thinking of:

(1) Author who wants to operate on a generic stream without worrying

[2015-02-16 23:58] tyoshino commented on #253
Thanks for review, Domenic. I'll reply to your analysis later. Here's an attempt to keep sync `read()`. Follow up discussion coming today, maybe.

[code]

[code]

[2015-02-17 05:32] yutakahirano commented on #253
I'm not strongly opposing to async read, but reforming ReadableStream's API largely because of a platform issue on ReadableByteStream seems not correct.

[2015-02-17 21:28] domenic commented on #253
@yutakahirano

I understand where you're coming from. But I think it's a bit more than that. In general we design APIs are around platform limitations. The unfortunate discovery of this thread was that sync read is less flexible than async read. This is actually fairly common, to design something async even though some platforms could make it sync---e.g. `navigator.getBattery()` is promise-returni

[2015-02-17 22:06] jyasskin opened #284 "Uses of "upon fulfillment/rejection" contain unused returns and throws"
Several algorithms in the Steams spec use the [Upon fulfillment](http://www.w3.org/2001/tag/doc/promises-guide#upon-fulfillment) and [Upon rejection](http://www.w3.org/2001/tag/doc/promises-guide#upon-rejection) algorithms.

Taking [WritableStreamAdvanceQueue()](https://streams.spec.whatwg.org/#writable-stream-advance-queue) as an example, the spec has:

1. ...
1. Let writeResult be ...
1. Upon fu

[2015-02-17 22:08] domenic commented on #253
I created a gist that uses the (all), (chunkwise), and (ping-pong) use cases to demonstrate how different APIs work. So far I have async readInto and setAllocator. Please see https://gist.github.com/domenic/e251e37a300e51c5321f. It is a much-expanded version of my above comment. I would love to see a version that demonstrates how your latest design would work @tyoshino.

[2015-02-17 22:29] domenic commented on #284
They aren't necessarily ignored. Chrome for example logs any unhandled exceptions to the console.

[2015-02-17 22:42] jyasskin commented on #284
Wow, this is all to get abrupt completions up to a JS context where Chrome can handle them, rather than to get exceptions and return values to places users can handle them?

[2015-02-17 22:45] domenic commented on #284
Yes, in general ES-style specs do not drop completion records on the floor when they can avoid it. Exceptions and return values are signaled to users in other ways (e.g. calling `stream@[[error]]`).

[2015-02-17 23:04] jyasskin commented on #284
Then I misunderstood the purpose here. Sorry for the noise.

[2015-02-17 23:04] #284 closed

[2015-02-17 23:07] domenic commented on #284
No worries! ECMAspeak can be ... unenlightening at times :-/

[2015-02-18 05:47] tyoshino commented on #253
@domenic

Yes, that's what I was thinking. window adjusts high water mark when there's a strategy and queue behind the stream.

As it's specified to throw when window has ever been set to 0, I made `feedBuffer` and window exclusive.

So, right. I chose to represent region via the offset and size info held by the Uint8Array object. I don't have strong opinion about this. Separate topic. Sorry for c

[2015-02-18 05:58] tyoshino commented on #253
In the first comment, I introduced `.amountReadable` for I/Os that can tell us how many bytes can be read. I didn't mean that we should call `read(2)` in advance and determine how many bytes can be read. I think for `read(2)` backed stream, I'd return **undefined** on `.amountReadable` call.

In the second comment, I tried to unify interface for `read(2)` backed one and `fread(3)` backed one by us

[2015-02-18 10:28] annevk commented on #271
Note that tee is also used in step 1 of https://fetch.spec.whatwg.org/#concept-http-network-or-cache-fetch (same reason). I should probably abstract the "copy a request" operation.

[2015-02-18 13:13] calvaris opened #286 "readable-stream-cancel.js "ReadableStream canceling an infinite stream" is flaky"
Sometimes this test can be flaky.

In WebKit, when I translated it, I changed it to reinstate the timeout if we were still waiting, but it is not enough, as you can get the timeout, be in readable state and the readableStreamToArray function didn't have enough time to read any data, so we cancel and we don't read anything.

There I also reduced the timeout to make it faster from 150 to 50 and I wa

[2015-02-18 14:24] tyoshino commented on #253
Domenic,

Here's ByteSource version of use case study (https://github.com/whatwg/streams/issues/253#issuecomment-74765051).
https://github.com/tyoshino/streams_integration/blob/master/ByteSource.md

[2015-02-18 14:28] wanderview commented on #271
How should clone() or tee() work when the resulting streams are read at wildly different rates?

Consider:

1) UA has an underlying push data source that it can provide back pressure on.  The full data stream is quite large.  To prove the point, lets say something ridiculous like 100 GB.
2) This data source is exposed as a ReadableStream or ReadableByteStream.  We'll call this `stream1`.
3) Conten

[2015-02-18 15:58] annevk commented on #271
That's our usual way of doing things... Alternatively, can we notify the streams in some way that this is happening?

[2015-02-18 16:33] domenic commented on #271
Sorry, which is our usual way? OOM or stall?

I agree this is _the_ hard problem with teeing. Maybe it even needs to be an option to pick between the two behaviors? That would still leave the question of what the default is.

[2015-02-18 16:36] annevk commented on #271
OOM. Platform specifications hardly ever deal with limits.

[2015-02-18 16:44] wanderview commented on #271
Our underlying gecko primitives default to providing back pressure in this particular scenario.  I'd like to be able to default to back pressure to make implementation easier and more efficient.

Of course, an unfortunate side effect of using back pressure here is that it makes GC observable:

1) `stream2 = stream1.tee();`
2) Read `stream1` until it stalls.
3) Throw away `stream2`.
4) When GC coll

[2015-02-18 16:45] wanderview commented on #271
Or rather, I'd like the default to be weasel words to the effect that "the UA may provide back pressure to all clones if one of the peer streams is not being read".

[2015-02-18 16:47] domenic commented on #271
Well, the plan was to define an actual TeeStream with a normative specification of how it operates on its single input and multiple output streams. (See [old design here](https://github.com/whatwg/streams/blob/master/TeeStream.md), but don't take it for anything serious.) Maybe the conceptual "tee a stream" could be more weasel-wordy.

[2015-02-18 16:54] domenic commented on #286
Yes, please feel free to pull request.

In general I would like to reduce the use of setTimeout throughout the suite. The only potentially-legit cases I can think for it are where something should "never" happen (e.g. a promise should never be settled), we could use setTimeout(, 50) or so to check that. Otherwise we should in general save promises more and wait on them (pretty much every setTimeou

[2015-02-18 16:54] wanderview commented on #271
Understood.  I agree that pure js stream behavior need to be exactly defined.

In the fetch Request/Response clone() case, gecko uses "infinite" buffer size already to match XHR behavior of not doing any back pressure to the network.  So this won't come into play for us there.

I understand blink does do back pressure for fetch(), but I don't know how blink's Request/Response clone() works.  Back

[2015-02-18 19:47] tyoshino commented on #253
BTW, the async readInto interface looks very close to the WritableStream interface. I'm trying to build something based on that in parallel.

[2015-02-19 09:29] tyoshino commented on #253
WIP, but here's the repo of the attempt.
https://github.com/tyoshino/streams_integration/blob/master/reference-implementation/operation-stream.js

[2015-02-19 09:58] calvaris commented on #253
As suggested by Domenic, I read this whole thread and I still have to digest it because I still haven't thought about the possible implications of the implementations in WebKit, which is the one that I am doing.

Some questions remain open though (maybe I read too fast and skipped some important matters and I misunderstood the whole thing). I think the introduction of ReadableByteStream, though lo

[2015-02-19 10:54] calvaris commented on #286
I might fix the issue and if I have even more time, I might translate the tests to something more interoperable, like for example, removing the arrow functions that were implemented by a colleague in V8, but they are not in JSC yet.

Btw, as you requested I commented what I could in #253.

[2015-02-19 10:54] #286 closed

[2015-02-19 20:29] tyoshino commented on #253
Added network read example to [operation stream](https://github.com/tyoshino/streams_integration/blob/master/reference-implementation/operation-stream.js) and put them into a PR:
https://github.com/whatwg/streams/pull/287

[2015-02-20 06:56] yutakahirano commented on #253
@domenic thanks for the clarification.

From a ReadableByteStream POV, it is desirable to hide uncommitted data (a.k.a dirty read). So I think we should detach the given buffer. ArrayBuffer.transfer has been proposed to ES7, so we can use it when it gets stable enough. What do you think?

If we do so, the buffer returned by read is not the buffer we gave, regardless whether we use sync read + pull

[2015-02-20 19:48] domenic commented on #286
The arrow functions are transpiled away before deploying the tests, as you can see from https://streams.spec.whatwg.org/tests/bundle.js

Thanks very much. I've been swamped on that and related issues for a while but will be trying to work through my backlog today.

[2015-02-23 10:13] yutakahirano commented on #271
Currently Blink's fetch doesn't have the backpressure mechanism. When we implement it, I think the OOM behavior is the right way.

[2015-02-24 08:38] tyoshino commented on #253
I've rewritten the concept introduced in ByteSource.md (https://github.com/whatwg/streams/issues/253#issuecomment-74871167) into https://github.com/whatwg/streams/pull/287

Domenic: I'll take a look at your proposal soon.

[2015-02-24 16:31] domenic commented on #253
@yutakahirano the detaching thing seemed pretty good. But then I realized that I'm no longer sure how to read the entire stream into one big array buffer. E.g. as in [this gist](https://gist.github.com/domenic/e251e37a300e51c5321f#file-async-readinto-js-L5-L10). Maybe this is just another missing ES7 API, to create an array buffer from many smaller array buffers?

[2015-02-25 00:20] domenic commented on #253
Given the detached consideration I want to look in to feedArrayBuffer/setAllocator more. My gist above shows setAllocator causing some unanticipated problems but they are probably solvable, or alternately I don't think feedArrayBuffer has those problems. I will spend time on that next and put async read aside until/unless we have a good answer for detaching + getReader + async read.

[2015-02-25 04:18] tyoshino commented on #253
Re: https://github.com/whatwg/streams/issues/253#issuecomment-75790533 by Domenic,

Good point. If we can get the new ArrayBuffer reference but pointing to the same underlying buffer on completion, it's ok?

[code]

If readInto() may return when it finishes writing partial data,

[code]

Or, adopt ArrayBufferView based approach,

[code]

`newView` specifies the region to which data have been writt

[2015-02-25 04:21] tyoshino commented on #253
These revised `readInto()` corresponds to `WritableOperationStream.write()` in my operation stream idea.

[2015-02-25 04:33] domenic commented on #253
This shouldn't be necessary since we can make `newBuffer` be of the partial size using that functionality of transfer, I think? Or maybe the result.ab/result.size design would allow concatenating into one large buffer, hmm.

But in general here are my thoughts.

This code is no longer nice, I think. That is, it no longer says what it means. Well, OK, first the name `readInto` is now wrong, so let'

[2015-02-25 06:17] tyoshino commented on #253
You're concerned with intuitiveness of the code, right? OK, I'll review the approaches from that point of view, too.

[2015-02-26 12:26] yutakahirano commented on #253
https://github.com/whatwg/streams/issues/253#issuecomment-75904101

With detaching, we should return a buffer[view] as @tyoshino says. And I agree that it is somewhat confusing that readInto looks like (async) fread but the user cannot use the given buffer.

[2015-02-26 19:58] domenic opened #289 "New proposal for byte stream uses cases"
As recently discussed in #253 and #288 there are several open issues with our current design for readable byte streams. The biggest ones are:

- async ready + sync readInto model does not work very well for read(2)-in-a-threadpool scenarios, like file handles, which require providing the buffer at the async time instead of at the sync read (#253)
- async readInto models have the potential to cause

[2015-02-27 03:50] tyoshino commented on #289
I have been investigating an idea similar to yours. That's exposing WritableStream (stream for feeding) and ReadableStream (output emitter) on the ReadableByteStream. Your `wait(current)` resembles `write(value)` of the WritableStream. You've hidden weirdness of calling `write()` for non-byte-stream by naming it `wait()` and made its argument optional. This looks good point but I'm still not sure.

[2015-02-27 04:45] domenic commented on #289
Definitely agree. We don't even have a design for WritableByteStream yet :-/. We need to get on this. I will start trying to draw up the landscape tomorrow.

I think more like the latter. In this way a ReadableByteStream is like a ReadableStream with HWM = 0 that always respects backpressure *and* doesn't proactively fill up the queue.

Yes, I think that is better. wait() was originally there for

[2015-02-27 07:18] yutakahirano commented on #289
- Calling wait() many times has virtually no performance penalty on ReadableStream.
- Calling wait() allocates a buffer on ReadableByteStream.

Are these correct? If so, I'm not sure if a user code expecting ReadableStream can work with ReadableByteStream - It may consume unnecessarily large memory.

[2015-02-27 09:35] domenic commented on #289
@yutakahirano that's a good point :(. Maybe it is OK, since it is not "normal" to call wait() many times. And we would probably store any extra buffers so that if you do `rbs.wait(); rbs.wait(); await rbs.wait();` then you could do `rbs.read()` three times before state goes from `"readable"` to `"waiting"`. But it is indeed a big semantic difference.

In that case there's another possibility, whic

[2015-02-27 23:51] domenic commented on #289
I wrote out a pretty long exploration of readable byte streams today. I didn't get to the other parts I planned quite yet. But it does cover, in a lot more detail than done previously, how both file- and socket-backed readable byte streams would work, and how generic readable stream processors can transparently use readable byte streams. It is based on the proposal in the OP, although I adopted @t

[2015-02-28 00:04] domenic opened #290 "Maybe giving async readInto (and read?) another shot"
While working through https://gist.github.com/domenic/65921459ef7a31ec2839 for #289 I was a bit worried by the concerns mentioned in the section "Reading a byte stream into ArrayBuffers" about memory fragmentation. I don't think there's a good way to address them without a true readInto-style API. But previously we discussed how this would have to take the form `readInto(sourceAB, offset, count) -

[2015-02-28 00:33] domenic commented on #290
In #libuv IRC @indutny was kind enough to explain to me one use case for readInto that came up in io.js TLS stream work. Apparently OpenSSL has its own set of buffers that you are meant to put data into, where it will get encrypted. In JS terms, he did

[code]

Without readInto, he would have had to allocate a new buffer, then copy it into `openSSL.putStuffInThisBuffer`. This is beyond the fragmen

[2015-02-28 00:58] piscisaureus commented on #290
I think I would punt on the issue and just stick to async read for now. `readInto` is useful only for performance reasons; it enables nothing that couldn't be done with an async `read(bytes)`. So you might as well wait and get feedback from users (on use cases) and implementers (on optimization constraints).

@indutny's use case is fair, but that's only because openssl API limitations.
It's easy t

[2015-02-28 01:01] indutny commented on #290
@piscisaureus I doubt there is a way to parse TLS properly and securely without actually buffering the contents of the incoming TCP packets. If you are going to read into such buffer - double-allocations and memory copying would be wasteful and will destroy performance (as it did in node.js 0.10 TLS implementation).

To conclude: there is nothing OpenSSL-specific, or hacky in the way we use `.read

[2015-02-28 01:07] piscisaureus commented on #290
I agree, but the buffered data doesn't have to be accessible from javascript. It simply needs to be accesible by both libuv and openssl.

[2015-02-28 01:10] piscisaureus commented on #290
I agree that my argument kind of devolves to "you could do it in C" - not super useful.

My point still stands though that readInto() is performance-only so no harm in deciding on it later.

[2015-02-28 01:18] indutny commented on #290
I don't feel like there is any point of postponing the decision on this. Especially, considering that this issue was created for discussion and getting enough reasoning :)

I don't think that this is possible in zero-copy mode without sharing the buffer with JS.

[2015-02-28 01:36] domenic commented on #290
Yeah I don't think it's going to be possible to have a readInto that allows @indutny's use case to be replicated in JS without shared memory :(. And that is blocked on a lot more than me (although I guess io.js Buffers are shared, so there's a loophole for io at least).

The question is whether there is sufficient use case left for a transfer-based readInto, even though it would not be able to add

[2015-03-02 10:13] tyoshino commented on #289
Domenic, what's the practical reason to shrink the given ArrayBuffer to correctlySizedAB? This means that at least when reading the last bytes of the resource, we'll often have to return a shrunk buffer to the pool. How about transferring the given ArrayBuffer for detaching but keep the size as-is and create a view to represent the region?

[2015-03-02 20:35] domenic commented on #289
@tyoshino hmm that is an  interesting idea. I forgot that we had that trick up our sleeve, of packing up a byte length + a buffer into a single typed array. So people would access the underlying buffer with `result.buffer`? I guess that is OK.

[2015-03-02 21:10] domenic commented on #289
@tyoshino I am now convinced your idea is 100% necessary since the example `socket_chunkwise` is very buggy as-is. The buffer that we mean to be re-using will be shrinking all the time, which sucks.

I will update the gist with your idea instead.

Also I had another idea which is to combine wait() and read() into a single async read with an optional argument. It seems OK but not great.

[2015-03-03 05:22] tyoshino commented on #253
### Issue: Supporting platform with only async reading I/O without losing efficiency

Started from https://github.com/whatwg/streams/issues/253#issuecomment-73618925

Plans:
- async read() https://github.com/whatwg/streams/pull/288
- pull() + sync read() https://github.com/whatwg/streams/issues/289
- sync read() + OperationStatus https://github.com/whatwg/streams/pull/287

### Issue: Detaching Arr

[2015-03-03 05:25] tyoshino commented on #253
I now think "correspondence between pull() and read()" is less important compared to the other perspectives.

I'm leaning toward making `getReader()` only succeeds when there's no pending `read()`. Maybe I'd represent that (lockable or not) using some attribute on the stream. After thinking carefully, I don't think there's any big benefit to allow acquisition of lock while there's pending `read()`

[2015-03-03 05:55] tyoshino commented on #289
Right. ArrayBufferView can be just used as a tuple of offset, size and buffer. Simple and powerful.

----

I summarized scattered discussion into some comments at https://github.com/whatwg/streams/issues/253. Feel free to fix/add.

[2015-03-03 06:25] tyoshino commented on #253
We could reduce difference between ArrayBuffer and object by using Array for receiving objects. I'll also explore that path.

[2015-03-03 09:11] yutakahirano commented on #253
Thanks for the summary > @tyoshino

I now prefer async read to pull + sync read, because of the following reasons.

1. If there is one-to-one correspondence between pull and read calls, it is essentially async read.
1. Otherwise, it is hard to define getReader. As I wrote below, I want to decouple pending read operations and the lock behavior, but I couldn't think of any reasonable rule determinin

[2015-03-03 10:49] tyoshino commented on #253
Updated the table "Issue: Simpleness of manual reading" after discussion with Yutaka.

[2015-03-03 14:48] tyoshino commented on #253
Summary of offline discussion with Yutaka.

(1) We did further investigation about when we want to do pipe. I now believe that we basically don't run pipe or any other operation requires locking until we finish reading results of pending reads. If we know the position from which we want to start piping (e.g. once header is read and body starts), we just feed sufficient necessary amount of Uint8Arr

[2015-03-03 17:34] domenic commented on #253
@tyoshino:

That seems good to me. Or most anything else also seems good, since I guess the opinion changed a bit after your discussion with @tyoshino. I have come around to the perspective that we don't need to do anything fancy for reader semantics (like we currently do). It just needs to be straightforward and get the job done.

That sounds strange... did this go anywhere?

@yutakahirano:

But

[2015-03-03 17:42] domenic commented on #253
Oh. One other thing I realized looking over OperationStream and OperationStatus.

As you know I would prefer to have similar APIs between ReadableStream and ReadableByteStream. So if read() for ReadableStream returns just the data chunk, then for ReadableByteStream we should return just the data chunk (whether that be an `ArrayBuffer` or, more likely it seems now, a `Uint8Array`). So OperationStat

[2015-03-03 17:50] tyoshino commented on #253
Sorry. Never mind.

[2015-03-03 17:54] tyoshino commented on #253
In Blink, we don't have it yet. Yes, we can implement it but we may receive push back from V8 team for a while. We'd estimate we need some workaround for coming several releases of Chromium. We were thinking about that. In the streams spec, yes, we can just use transfer.

[2015-03-03 17:58] tyoshino commented on #253
Needs prototyping for demonstration, but yes that's what in our mind. Request, Response, etc. would have stream factory methods.

Yes. Will do.

[2015-03-03 18:16] tyoshino commented on #253
The operationStream branch now contains several suggestions but they are independent from each other. Operation concept was introduced for unifying APIs into single one. OperationStatus was introduced to enable synchronous/asynchronous hybrid consuming experimentally.

For pull + sync read() + write() + readDisposed(), OperationStatus is unnecessary.

From operationStream, I'd like to incorporate:

[2015-03-03 18:43] tyoshino commented on #253
If write() may return after writing only partial data, write() needs to return how many bytes have been written. What's the dual of this on ReadableStream? Allowing consumer code to consume only part of the buffer returned by read()?

[2015-03-03 18:49] domenic commented on #253
Hmm OK. I thought it would just be a natural extension of the cross-worker transfer (from structured clone). But I can understand if not. Do you think there's a potential theoretical problem or is it just the practical issue of when work gets done?

OK. I will try to think through this idea more then.

I will continue this over on the operation stream thread.

We could make enqueue() return a prom

[2015-03-03 21:48] domenic commented on #253
I see. Using send(2), `send(fd, msg, len, flags)` could return a value less than `len`. But you can fairly easily layer a [sendall](http://beej.us/guide/bgnet/output/html/multipage/advanced.html#sendall) on top. I think it is OK that if the stream errors, a partial write occurred, since in our model an error is fatal.

[2015-03-04 06:17] yutakahirano commented on #253
I looked at V8 and found v8::ArrayBuffer::Neuter (Yesterday I imagined we didn't have it, sorry > @tyoshino). Although non-trivial work is needed to implement a native function that is equivalent to ArrayBuffer.transfer, I now think we (Blink) can do it without detailed specification on ES7.
But I'm still concerned about other implementers. @wanderview, do you have any concern about this point?

[2015-03-04 06:33] yutakahirano commented on #253
Sorry, I forgot that Mozilla has already implemented it https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer/transfer. Never mind.

JSC also has JSC::ArrayBuffer::transfer. I imagine it corresponds to the function we are talking about.

Then it seems good to define an abstract operation and use it.

[2015-03-04 11:16] yutakahirano commented on #253
I agreed that even when we don't keep 1:1 pull-read correspondence we can define a reasonable locking rule. Hence the second reason listed there is not important to me any more.

To clarify the situation, I would like to list the current options. @tyoshino, @domenic, Please correct me if my understanding is wrong.

**(A) async read**
  `read()` function returns a promise. For ReadableByteStream, `

[2015-03-04 16:10] tyoshino commented on #253
(A) looks reasonable landing point though I miss the sync read() interface we've been developing.

About (B), I agree that it's basically the same as (A). For object streams, it's meaningless to ask users to call pull()/wait(). I think we should avoid that and just choose (A). (B) keeps the sync read() interface but the badness of meaningless pull()/wait() for object streams beats the benefits in

[2015-03-04 16:40] tyoshino commented on #253
Re: Domenic

Yes. I don't come up with any other use case except for implementation of byte source with buffer pool where enqueue() result would be used for getting ArrayBuffer back from the user code into the buffer pool. As it's rare that we're given something in sequence from API and respond to each of them, the readable operation stream is only useful when it's used for implementing underlying

[2015-03-04 16:59] domenic commented on #253
@yutakahirano

Minor point: there is no consumer-initiated pulling, I agree. But a non-byte stream implementation could "pull" ahead of time if it wanted, to make future calls to read() fulfill immediately.

I agree with your characterization of these. I had not separately considered (B) before actually.

Yeah, I do not like (D) because of the not-a-subtype thing.

Speaking about (C): I think it d

[2015-03-04 17:24] tyoshino commented on #253
Do you mean calling async read() ahead of time by "pull ahead of time"?

I'm asking as it's reply to (A).

[2015-03-04 17:26] domenic commented on #253
No, I mean that for a non-byte readable stream they could "pull" a bunch of chunks from the underlying source ahead of time before anyone ever calls read(). Then, the next (say) four times read() is called, all the promises fulfill immediately with those chunks.

[2015-03-04 17:29] tyoshino commented on #253
I see. Agreed. Implementation behind async read() may do any buffering for optimization as it wants.

[2015-03-04 17:33] tyoshino commented on #253
Yes.

Agreed.

[2015-03-05 06:26] yutakahirano commented on #253
@domenic,

Yeah, I thought about the consumer-facing pull, i.e. pending read in this option.

I see.
By the way, in this option ReadableByteStream works differently from ReadableStream. As I wrote, "non-tricky" code can work with both, but the definition of trickiness is not given.
I think stating contract that all ReadableStream-like classes should ensure is very helpful. It should cover the user

[2015-03-05 08:26] tyoshino commented on #253
One concern about (C) is that people may be impressed that calling multiple pull()s is harmless when using object streams, and may call many pull()s without being aware of internal allocation of ArrayBuffer and kicking read. Naming it pull() than wait() gives some notion of side-effect, but still weak?

[2015-03-05 09:17] tyoshino commented on #253
(cont'd) So, I think (C) requires that for pull(undefined) something similar to auto mode happens. Even if many many pull(undefined) calls are made, we keep (the total amount of outstanding I/O requests) + (total size of filled but not yet read()-ed buffers) under some high water mark.

[2015-03-05 14:41] yutakahirano commented on #253
(Continued from https://github.com/whatwg/streams/issues/253#issuecomment-77313636)
(This comment is premised on option (C))

I think stating contract that all ReadableStream-like classes should ensure is very helpful. It should cover the user-facing APIs.

The current draft has [Model] (https://streams.spec.whatwg.org/#model) section and many helpful notes such as ones in https://streams.spec.wha

[2015-03-05 15:53] tyoshino commented on #253
To list for bad points of (A), I'm writing examples of (A) (almost based on Domenic's PR #288), and I'm becoming fan of it ... Let me share how it's like in my mind:

Simple greedy consuming:

[code]

Above works for both object stream and byte stream.

For byte stream, this also works for bring-your-own-buffer style reading.

[code]

If consume() sees `rs` becoming closed, or consume() is called

[2015-03-05 16:06] tyoshino commented on #253
(cont'd) fan, but assuming that we adopt:
- no locking. obtain stream from source. pipe is on source. pipe gets stream and returns on completion.
- queue lives in source. not in stream.

[2015-03-05 16:24] tyoshino commented on #253
(cont'd) Class definitions

[code]

[2015-03-05 16:28] yutakahirano commented on #253
It's a good idea.

--

I'm trying to describe pull()'s abstract behavior (for option (C) + always manual RBS).

- A stream can request a data chunk to the underlying source at any timing when it is not closed or errored.
- A stream must request a data chunk to the underlying source when pull() is called and the following conditions are met.
  - There is no pending data request.
  - The stream's st

[2015-03-05 18:07] domenic commented on #253
First, sorry for not having time to do an argument against async read() yesterday like I was planning. I'm taking care of lots of last-minute stuff before traveling. Today I will have time!! Although it seems @tyoshino has already started and I need to digest that a bit.

@yutakahirano

I think stating contract that all ReadableStream-like classes should ensure is very helpful. It should cover the

[2015-03-05 21:16] domenic commented on #253
@tyoshino

I think it should still return `ReadableStream.EOS`, not an empty buffer.

I don't like this. I think streams, including piping, should be able to stand on their own.

I think we can do locking with (A) as long as we don't try to make the semantics too complicated. That is where I got stuck in #288.

Hmm. Although I just had a new thought. Maybe what you are suggesting is basically the

[2015-03-05 21:27] tyoshino commented on #253
OK but need to return the detached ArrayBuffer. The empty view holds the detached ArrayBuffer.

That's what we planned. I wanted to say we standardize pipeTo but it's not on the object from which we can read().

[2015-03-05 21:31] tyoshino commented on #253
Yes, like that. pipeTo() still can be given a reader to implement itself in JS level.

[2015-03-05 21:35] domenic commented on #253
Oh, I see. That is bad. That means code cannot always assume EOS is the way to detect end of stream.

I guess it still works if we say that read(undefined) uses EOS and read(view) uses an empty view. Because the consumer knows which version they used and so they can write the appropriate code to check. But it's annoying.

Maybe we should do { value, done } instead. Then it can be the same.

[2015-03-05 21:48] tyoshino commented on #253
Right

Agreed. I thought you prefer not returning something structured, so suggested the empty view holding the detached buffer.

{ value, done } can have three modes:
- `{ undefined, true }`
- `{ someValue, true }`
- `{ someValue, false }`

`{ undefined, true }` corresponds to EOS. `{ someValue, false }` corresponds to non-EOS.

To realize the view returning, `{ someValue, true }` is necessary wh

[2015-03-05 21:54] tyoshino commented on #253
We may use { EOS, true } for the distinction. Then, the `read(undefined)` user needs to check `value` but still see get `done`. Confusing.

[2015-03-05 21:55] domenic commented on #253
I think { value, done } might be awkward but it does have advantages. I am finishing up my "anti-async-read()" post which talks about the disadvantages of EOS a decent bit (including this new point). One thing in favor of { value, done } is that it is the same interface used by ES6 iterators, and possibly will be reused by ES7 async iterators. But without syntax support (like `for-of` for ES6 iter

[2015-03-05 21:59] tyoshino commented on #253
Yeah. So, we give different semantics to `{ value, done }` for `read(undefined)` and `read(view)`. This is the same as the empty view holding the detached approach. But the same format `{ value, done }` than mixture of EOS and empty view. I understand. I'm fine with that.

[2015-03-05 22:05] domenic commented on #253
OK. Here is my writeup against async read. Let me know what you think. I guess the points end up not being that strong after all.

## Arguments against async read()

As mentioned above I will attempt to lay out all the arguments against async read(), in a very one-sided way. Then we can attempt to step back and see how good they are.

### EOS is not very general

Example code:

[code]

If we want

[2015-03-05 22:11] domenic commented on #253
Oh. New question related to the { value, done } stuff and the multiple-read-calls point in the above.

What if you call read() five times feeding it five different views. But the stream closes after the first read?

The { value, done } design only has room for one view (unless we make it an array). What about the other three?

We could solve this by disallowing multiple calls to read() (also discu

[2015-03-05 22:26] zenparsing commented on #253
@domenic If you absolutely have to return an output view for each view that was put in, could you just return an empty view with `done: false` for each input view, and then a final iteration with `done: true` and `value: undefined`?  It's a bit of a corner case, anyway (I think).

Request queueing is sometimes useful in async iterators.  For example, you want to send a bunch of things to a sink an

[2015-03-05 22:28] domenic commented on #253
Hmm, I think I like this. It depends on consumers being prepared to handle size-zero views but that seems probably OK.

[2015-03-05 22:43] tyoshino commented on #253
In my https://github.com/whatwg/streams/issues/253#issuecomment-77389072

It's specified to keep returning EOF signal by byteLength === 0.

If you queue multiple read()s, you have the same number of promises and you have .then()-ed them. Each is fulfilled with EOF signal call. It's not hard to interpret.

[2015-03-05 22:47] domenic commented on #253
@zenparsing wait, now I realize that what you've said doesn't make sense. The scenario here is e.g.

[code]

We would prefer if the memory in `view3` and `view4` was returned to this code somehow. @tyoshino's idea, I think, is that the last two fulfill with `{ value: zeroLengthViewOntoCorrespondingBuffer, done: true }`. I don't see any other real options.

[2015-03-05 22:48] tyoshino commented on #253
And for multiple in-flight `read(undefined)`s, we return `{ undefined, true }`s for extra read()s.

[2015-03-05 22:58] zenparsing commented on #253
@domenic Ah yes, you're right.  And there's nothing about the async iteration protocol that would preclude that.

[2015-03-06 00:33] yutakahirano commented on #253
It's possible to provide a predicate`isEos(value)`. It returns `value === this.EOS` in ReadableStream and returns `value.length === 0` in ReadableByteStream.

[2015-03-06 02:01] domenic commented on #253
I think it might be time to start trying to prototype/spec/write tests for ReadableStream/ReadableStreamReader/ReadableByteStream/ReadableByteStreamReader. I will probably not be able to get very far until next week, in Tokyo. (Well, maybe on the flight I'll get a lot done!) But let's try to outline the plan.

- The class definition should be [like I outlined above](https://github.com/whatwg/strea

[2015-03-06 02:22] domenic commented on #253
Suddenly all the thoughts are coming to my head at the last minute when it's time to leave for the day.

We could have getReader() on ReadableByteStream behave just like on ReadableStream. It returns a normal reader with no argument to read(). And in doing so it starts an "auto-flowing" mode that can e.g. queue up a few chunks ahead of time, if desired.

But then it also has a getBYOBReader() (or

[2015-03-06 16:19] yutakahirano commented on #253
Thank you @domenic, @tyoshino, as I said before, (A) looks good to me.

https://github.com/whatwg/streams/issues/253#issuecomment-77462296

Is there any possibility that feeding multiple buffers has a performance gain?
@tyoshino suggested a case where pull()'s cost is high before, but because of the following reasons, I don't think we will suffer from it.
 - Object streams have a queue.
 - For byt

[2015-03-08 14:09] tyoshino commented on #253
Sorry for delay. I just started prototyping of async read() at #287 (52ec38f8a8abf0711f499d2d1faf426afd99f404)

[2015-03-09 03:32] tyoshino commented on #253
Yeah. Let's use #288 for real work to be committed on the master. You've already done a lot there for async read() approach.

I'm seeing that the suitable underlying source interface and delegates would be a little different from markReadable, ... etc. when adopted async read() model. Let me continue the prototyping to see more detailed picture.

[2015-03-09 03:40] domenic commented on #253
OK, although #287 might be best for async ReadableByteStream.

I think for byte streams your latest work in #287 makes a lot of sense, e.g. just a read(container) method on the underlying source. But yeah for ReadableStreams I think the existing underlying source interface is closer to what we want.

[2015-03-09 04:13] domenic commented on #253
@yutakahirano

I think you are right that it is probably not a very important use case. However it might make more abstract sense in terms of how the model works. We will see when we prototype.

[2015-03-09 12:01] domenic commented on #253
What behavior do we want for all the reader methods when the reader is released? I think the following actually is pretty easy to implement:

- `reader.read()` returns `{ value: undefined, done: true }`, or `{ value: view, done: true }` for byte streams
- promises returned by all read() calls before the release get fulfilled with { value: view, done: true }
- `reader.closed` fulfills after release

[2015-03-09 19:19] calvaris opened #291 "Test ReadableStream does not call pull multiple times after previous pull finishes is incorrectly specified."
You can find the test currently in readable-stream.js:304.

I think the test should not have the timeout in line 334 because according to the spec, after reading we pull asynchronously, but if we leave the timeout where it is and let it work, the pull from the second read could end up happening because it is waiting to be run.

Am I missing anything?

[2015-03-10 04:00] tyoshino commented on #253
Agreed

No strong opinion about this point. Fulfilling looks ok.

Agreed. It shouldn't given any power except for getting views returned.

[2015-03-10 06:33] domenic commented on #291
Hmm, I think you are right :-/. I wonder what went wrong in the reference implementation/spec/test; must be some subtle interaction.

However, given that #253 is pushing us toward async read anyway, I think the interaction between read and pull is going to change soon :-S. Hope to have the details for that up within a couple days...

[2015-03-10 07:48] yutakahirano commented on #253
Do we support a platform which has a BYOB async read but doesn't have a sync cancel-read? If we do, we cannot get back the buffer from the platform until the read ends.

[2015-03-10 08:12] tyoshino commented on #253
Maybe we say that we can get buffers back not immediately but at some point in the future.

[2015-03-10 08:13] domenic commented on #253
Hmm, I think so. At least I am not sure how to cancel an ongoing read(2) call. But I do not know my Unix APIs all that well :-/.

Yeah, as @tyoshino says, I think it is OK for the promises to take a while to fulfill with `{ value: view, done: true }`, as long as they do eventually.

[2015-03-10 09:27] domenic commented on #253
Question based on some stuff @yutakahirano I have been discussing. And probably related to the last couple posts, now that I re-read them. Given this scenario:

[code]

what should happen?

We think `releaseLock()` should throw if there are pending reads. Because, consider how `reader.read(view1)` has started a read in the background thread into `view1`. If we were to let the release succeed, the

[2015-03-11 14:14] youennf opened #292 "Do we need to pass enqueue and close as parameters to UnderlyingSource.pull?"
These functions are already passed to UnderlyingSource.start.
The source can keep references to these functions and use them whenever wanted.

Is it for web developer conveniency?
If so, why not also passing the error function to pull?

Not passing them to pull would remove the need for the ReadableStream to keep a reference to these functions and let the JS engine collect these methods as needed.

[2015-03-11 14:22] youennf opened #293 "Why is the reference implementation calling promise callbacks synchronously?"
Should it not be the case that ReadableStream._resolveReadyPromise, _resolveClosedPromise and _rejectClosedPromise run the callbacks asynchronously?

This may have some impact on how/when code is actually executed.
This may be observed in some cancel tests, where ready/closed promises are vended before and after cancelling the stream.

[2015-03-11 15:24] domenic commented on #292
Yes, this is largely for convenience. Otherwise the code for an underlying source becomes fairly awkward, I think. See e.g. https://streams.spec.whatwg.org/#example-rs-pull; it would become much more annoying to write.

The thinking behind the current design is that you can just reject the promise returned from pull to signal errors there. (In this way error and enqueue/close are quite different,

[2015-03-11 15:27] domenic commented on #293
The reference implementation isn't calling promise callbacks synchronously. Instead, it is resolving/rejecting the promise, which itself will schedule the callbacks asynchronously. Here is an example with just promises that may be helpful to understand:

[code]

This will print `"after resolve call"\n"fulfilled 5"`. Even though `resolve(5)` is called "synchronously", the way promises are specified

[2015-03-11 15:47] domenic opened #294 "What should we call ReadableByteStream.prototype.getBYOBReader()?"
Per the lengthy discussions in #253 the new shape of ReadableByteStream will be something like:

- `getReader()` returns a reader that, much like the "normal" ReadableStream, has automatically flowing auto-allocated chunks. So, `rbs.getReader().read()` will take no arguments and will auto-allocate a new `Uint8Array` each call.
- Some other function, with straw-person name `getBYOBReader()`, return

[2015-03-11 15:58] domenic opened #295 "What types does ReadableByteStream's reader's read(x) accept and return?"
Per #253 the "bring your own buffer" reader for ReadableByteStream will generally be of the form

[code]

The reason for an ArrayBufferView for the argument is that it allows authors to supply the (buffer, offset, maxLength) trio all at once. The reason for the ArrayBufferView for the return type is that it gives back (buffer, bytesRead), plus the offset if one was supplied, all at once.

For the

[2015-03-11 16:14] domenic commented on #289
Rolling this into the larger meta-issue at #253.

[2015-03-11 16:14] #289 closed

[2015-03-11 16:15] domenic commented on #290
Rolling this into the larger meta-issue at #253. For those watching from home, the result is indeed going to be something similar to an "async readInto", albeit with some transfering going on to prevent observable data races.

[2015-03-11 16:15] #290 closed

[2015-03-11 20:00] youennf commented on #292
2015-03-11 16:24 GMT+01:00 Domenic Denicola <notifications@github.com>:

I guess I have a slight preference for all or none here, but I will
not push hard either way.
Synchronous error signaling is already possible after all.
Adding a test would be nice.

I was referring to browser implementations that may need to create JS
function wrappers around native code. If we were to create those just
for

[2015-03-11 20:01] youennf commented on #293
Yep, that makes sense.
I should have had a second look at the test results obviously!
Thanks

2015-03-11 16:27 GMT+01:00 Domenic Denicola <notifications@github.com>:

[2015-03-11 22:41] #293 closed

[2015-03-11 22:43] domenic commented on #292
Why? For V8 you can just create a function wrapper and pass it to both start and pull.

[2015-03-12 04:13] yutakahirano commented on #294
Naming after reader's type name looks natural to me.

[2015-03-12 04:26] domenic commented on #294
Well, but do you have an idea for the reader's type name? :)

[2015-03-12 04:41] yutakahirano commented on #294
[Readable]BytesStreamReader and getBytesReader, perhaps?

[2015-03-12 04:42] domenic commented on #294
Yeah that kind of works, since it's about specialized behavior for byte streams. But then again, `rbs.getReader().read()` will return bytes too, hmm. I'll add it to the list :D

[2015-03-12 04:58] tyoshino commented on #295
Here's today's snapshot of thin BYOB byte stream reader I've been prototyping.
- https://github.com/whatwg/streams/blob/406ac64e7f83375497eee273bf638c314fce10a4/reference-implementation/lib/experimental/thin-byob-byte-stream-reader.js
- https://github.com/whatwg/streams/blob/406ac64e7f83375497eee273bf638c314fce10a4/reference-implementation/test/experimental/thin-byob-byte-stream-reader.js

Some no

[2015-03-12 05:20] chrisdickinson commented on #294
What about inverting it, such that `getReader` is the BYOB version, while the auto-allocating version becomes `getAllocatingReader`?

[2015-03-12 05:45] domenic commented on #294
@chrisdickinson that's not as good, I think, because ideally `getReader()` on both ReadableStream and ReadableByteStream should return an auto-allocating readers with a no-argument `read()`.

[2015-03-12 06:42] domenic commented on #253
Should we allow a readable stream to be cancelled while locked to a reader? I would lean toward "no," except: consider the case where you have set up a pipe chain (which locks the stream). How do you cancel that pipe chain upon e.g. the user navigating to a different page? (You could abort the ultimate destination stream, but we have the same question there: are you allowed to abort a writable str

[2015-03-12 07:54] tyoshino commented on #295
I understand all of your analysis here.

I prefer Uint8Array and Int8Array to the others (including Uint8Clamped). But yeah, it would be nice if we could also eliminate the implication of sign and byte-wise processing.

It looks beautiful if we had a new concrete type on which only stuffs defined on the ArrayBufferView interface are exposed. I like it, but it doesn't add any practical benefit. I f

[2015-03-12 08:01] tyoshino commented on #295
Is this the right issue to discuss how EOF signal should be returned from reader.read(view)? If we choose to return only a view, we need to represent EOF using any of the value on the ArrayBufferView. Are you fine with the idea that byteLength === 0 is EOF?

Do we want to give the EOF meaning to a view with byteLength === 0 more generally? I mean ByteStreamWriter should handle a view with byteLeng

[2015-03-12 08:03] domenic commented on #295
Wait! I was re-reading [my thread on es-discuss](https://esdiscuss.org/topic/idiomatic-representation-of-buffer-bytesread) about this question and I realized @jorendorff had a great solution that I forgot to list in the OP: just make the return type be the same type of view as gets passed in to the read(view) method!

I guess in that solution we disallow `.read(arrayBuffer)` directly. (We could st

[2015-03-12 08:05] tyoshino commented on #295
I'd just keep it consistent with other web APIs such as XHR (accepting ArrayBufferView or ArrayBuffer) unless we find any strong benefit in using the structural array buffer view.

[2015-03-12 08:06] domenic commented on #295
Yeah, I am OK with that. (Although maybe we only allow ArrayBufferView if we go with the type-of-input-determines-type-of-output idea.)

[2015-03-12 09:19] domenic commented on #292
Closing, since it's not an outstanding issue. But happy to continue discussion!

[2015-03-12 09:19] #292 closed

[2015-03-12 09:20] domenic commented on #269
I think that, especially now that we have the flexibility provided by the separate `getReader()` and async `read()`, this issue can be considered solved. Although `ReadableStream` instances will start immediately, readable streams in general don't have to, and with some clever underlying source code you can even get a `ReadableStream` that doesn't really start immediately.

[2015-03-12 09:20] #269 closed

[2015-03-12 09:24] domenic commented on #97
Quick update on this (old) issue: this is one of the highest priorities of the current design, pioneered with the stream reader concept. The only missing piece is a similar stream writer for writable streams. Once we have that in place this issue is done. We are very much on track though and have been designing the system around this goal.

[2015-03-12 09:27] domenic commented on #3
Closing. These use cases are best served by precise readable byte streams, as we've seen from the MSE example.

[2015-03-12 09:27] #3 closed

[2015-03-12 12:37] tyoshino commented on #295
Is the benefit of that approach that we explicitly pass the underlying buffer than passing the view implying that the whole buffer behind it is subject to detaching? Hmm, I understand. Unlike others such as XHR, the BYOD stream temporarily takes the ownership of the provided buffer. If we really set a high value on that point, we should rather stop accepting ArrayBufferViews directly, I guess. And

[2015-03-12 12:38] tyoshino commented on #295
Makes sense.

[2015-03-12 15:09] domenic commented on #295
Yes, I definitely agree with this.

[2015-03-12 16:57] youennf commented on #292
Yes and you need to keep a reference to those wrappers throughout the
lifetime of the stream (or until it gets closed/errored). In practice, it
may not be needed for error, which can be collected as soon as the JS no
longer keeps a reference to it.
But while it eases web engine developer life a bit, I agree it makes web
developer life a tad more difficult.
Le 11 mars 2015 15:43, "Domenic Denicola"

[2015-03-13 08:14] yutakahirano opened #297 "Getting errored/closed reader, Auto-releasing reader, Forcible cancel() on a stream"
I read @domenic's [pull request] (https://github.com/whatwg/streams/pull/296) and would like to talk about getting / releasing reader. If you think the PR is the right place to discuss, feel free to close this issue.

### `getReader()` should succeed on closed stream

Imagine we have a Response (in Fetch API) `res`.
`res.body.getReader()` should succeed even when the response has an empty body. Th

[2015-03-13 08:24] domenic commented on #297
Thanks for bringing these up. I was actually just preparing a follow-up commit to the PR to propose a solution for these issues :). It is nice to have a new issue to discuss though.

Great justifications, agreed.

Yes, I agree it is not as necessary anymore. We can probably remove it. The change in behavior between auto-release and manual release only impacts a few minor cases.

But on the other h

[2015-03-13 08:39] domenic commented on #297
I added https://github.com/whatwg/streams/commit/bb47488030e1be545bfc40450a6b4a8186a8ab63 to the pull request which address much of these. I will do another follow-up commit changing the pipeTo return value.

[2015-03-13 10:32] domenic commented on #297
Regarding auto-release: there are very very few differences in behavior that you can discern without inspecting `isActive`.

The only difference I can find is that if you write "bad" reader-using code that doesn't release the reader when it finishes with it, nobody will be able to get any more readers, even though those readers will always just be closed/error. (Actually, the [readableStreamToArra

[2015-03-13 12:43] yutakahirano commented on #297
Mainly from Fetch API point of view...

Regarding auto-release:

We had [a long discussion] (https://github.com/slightlyoff/ServiceWorker/issues/452) about Body.bodyUsed which is summalized at https://github.com/tyoshino/streams_integration/blob/master/FetchBodyPrecondition.md. In the discussion, people tended to like a flag which would never be released after locked (e.g. new Request, cache.put()

[2015-03-13 21:10] calvaris commented on #291
We changed the code and actually the timeout seems to be needed, so I'll close this issue.

[2015-03-13 21:10] #291 closed

[2015-03-16 03:40] tyoshino commented on #253
What's your opinion about making pipeTo() itself cancellable, Domenic?

[2015-03-16 03:43] tyoshino commented on #253
Discussed at https://github.com/whatwg/streams/issues/297#issuecomment-78864193

[2015-03-16 03:56] tyoshino commented on #297
Yutaka: Good point. To address an issue the cancellation issue with pipeTo(), basically we need to do the same for the methods (text(), json(), ...) on the Body.

It's sad but we cannot adopt `{ finished, cancel() }` approach for these stuff. They're already shipped.

Hmm, will it be better if we provide not forcible cancel() but forcible releaseLock() on the stream?

[2015-03-16 04:00] domenic commented on #297
I think it is not so bad to not support cancellation of `json()` etc. At least, to not support them until we have a better scheme for cancellable promises in general. When we have such a scheme (which might be a `.cancel()` method on the promise, or might be something like `const canceller = new Canceller(); fetch({ ..., canceler }); /* later */ canceller.cancel();`) we can retrofit `json()` etc.

[2015-03-16 04:08] tyoshino commented on #297
I see. Should we also address pipeTo() cancellation issue by the cancellable promises?

[code]

or

[code]

Wouldn't the latter be implemented adopting the revealing constructor pattern?

[2015-03-16 04:13] domenic commented on #297
Oh wow, good point, I hadn't thought of that. That would make more sense. Maybe we should leave pipes uncancellable until cancellable promises land. That would give me more motivation to work on cancellable promises, haha -_-.

The latter is pretty similar to revealing constructor, yeah. Although it would tie into a more general cancelable promise framework.

[2015-03-16 04:42] yutakahirano commented on #297
The canceller idea looks good to me.

[2015-03-16 04:43] tyoshino commented on #297
We just had more discussion about cancelling fetch(). In https://github.com/whatwg/streams/issues/297#issuecomment-78954538, Yutaka meant that we should have some method to stop receiving HTTP response body. It could be any of res.cancel(), res.body.cancel() and reader.cancel(). He thought having three points is bad and wondered what we should have.

Sorry, I forgot but `text()`, `json()`, etc. ar

[2015-03-16 04:47] domenic commented on #297
Right, there is a lot of discussion about how to do fetch cancellation, I think in the service worker repo. I think it is OK to (eventually) have multiple possibilities as long as they all related together. E.g. maybe `fetchPromise.cancel()` is defined as doing either (1) internal method to cancel request before headers are received; or (2) canceling the stream, and maybe (2) is exposed directly (

[2015-03-16 04:48] tyoshino commented on #297
Related issue at the Fetch API issue trakcer: https://github.com/whatwg/fetch/issues/20

[2015-03-16 05:06] domenic commented on #297
OK, quick in-person huddle yielded the following proposal.

- `cancel()` method is on reader, and not on stream
- `pipeTo`, and any operations a developer might create (like `readableStreamToArray`), should get cancellation ability in whatever way promises get cancellation ability. Since they work internally by using `getReader()`, they can call `reader.cancel()` in reaction to cancellation reques

[2015-03-16 05:07] tyoshino commented on #297
OK, let me summarize the cancellable promise approach.

[code]

- [Plan A] `fetchPromise.cancel()` works only while the `Response` is not yet available
    - returns **true** if the `fetchPromise` is not yet fulfilled
    - returns **false** if the `fetchPromise` is already fulfilled
        - to terminate the fetch algorithm, we need to call some method on the `Response` (fulfillment value of `fe

[2015-03-16 05:09] tyoshino commented on #297
Oh. Conflict :). So, plan A and B is elaboration of the last bullet point of https://github.com/whatwg/streams/issues/297#issuecomment-81417538. Tell me if there's anything to correct.

[2015-03-16 05:12] domenic commented on #297
I think I was originally thinking of [Plan B] but while writing the end of my last comment I realized it was kind of dumb. So if promise cancellation is accomplished via `p.cancel()` then I think [Plan A] is better.

But if we do promise cancellation via a cancellation token ("canceller") approach then I think we could allow [Plan D] `canceller.cancel()` to cancel either the promise, headers are n

[2015-03-16 05:16] tyoshino commented on #297
[Plan D] is useful. [Plan C] also looks clean given current Fetch procedure (receive Response, then receive body via Streams) and one slight benefit I see is that we can forget `Request`. I don't object to [Plan C].

Do you mean `res`?

[2015-03-16 05:21] domenic commented on #297
Yes, sorry, I did mean `res`!

I think we can delay deciding between [Plan A], [Plan C], and [Plan D] until we figure out cancellable promises in a bit more detail. But the important thing is that we do have a path forward that gives us all the abilities we want, and its impact on streams is essentially that we won't be able to cancel a pipe until we also figure out how to cancel a promise.

[2015-03-16 05:31] tyoshino commented on #294
In offline discussion last Thursday, we categorized the readers we've been designing using a matrix.

| Alloc / Pull | Auto | Manual |
|----|----|----|
| BYOB | - | A |
| Auto | B | C |

(BYOB && Auto pull) doesn't make sense. So, it's marked `-`.

We're going to at least provide factory methods for A, B.

The "Alloc: auto" row also applies to object streams. Both of B and C make sense. I think C

[2015-03-16 05:37] tyoshino commented on #297
OK!

- [A] https://github.com/whatwg/streams/issues/297#issuecomment-81418080
- [C] https://github.com/whatwg/streams/issues/297#issuecomment-81420339
- [D] https://github.com/whatwg/streams/issues/297#issuecomment-81420339

[2015-03-16 05:39] tyoshino commented on #297
Decision about forcible cancel regarding pipeTo() or any other operations requiring lock:

See https://github.com/whatwg/streams/issues/297#issuecomment-81417538

[2015-03-16 05:43] domenic commented on #297
Remaining issues in this thread are:

- Auto-release? If yes (which I think I prefer), can we still define fetch's bodyUsed correctly?
- Remove closed promise from stream (and move it only to the reader)? May help with resource management, and it is unclear what the use case is for `closed` without first getting a reader. But feels wrong to me...

[2015-03-16 06:40] domenic commented on #294
Yeah, exactly. This would probably be done intelligently on a per-stream basis. IIRC libuv has heuristics for this (since Node streams are not BYOB), @piscisaureus mentioned them to me once.

It also says, "I don't care about reusing buffers, and will let the JavaScript GC take care of freeing the memory".

---

I am starting to think that an options-object accepting `getReader()` may be better. I

[2015-03-16 06:52] domenic commented on #294
Upon further reflection I am not sure auto-pulling vs. manual-pulling is a property of the reader. It may be more of a property of the stream. If it is a property of the reader, you should be able to get an auto-pulling reader, then release it and get a manual-pulling one. Or vice versa. That seems strange and potentially hard to implement.

[2015-03-16 07:13] tyoshino commented on #294
OK. Maybe "auto-pull" concept doesn't make sense when discussing a reader interface. What's going on behind a reader is unknown and abstracted. We basically shouldn't mention about anything behind it when naming the methods.

Pulling vs. non-pulling (give me when available) is the right way of comparison?

[2015-03-16 09:52] domenic commented on #297
OK. Managed to convince @yutakahirano offline that auto-release is good. Am willing to remove closed, at least for now; we could potentially add it back later if someone comes up with a really good use case.

#296 updated and build is passing. Ready for more review! Closing this issue.

[2015-03-16 09:52] #297 closed

[2015-03-16 10:10] domenic commented on #294
Tentative plan per afternoon discussions:

- Use options object to allow greater future flexibility
- Instead of "manualPull: false/true", use a `queueSize` argument, for both object and byte streams. If it is zero, then pulling is manual. (If `feedBuffers` is true, it must be zero.) If it is nonzero _n_, it communicates two things:
  - The consumer would prefer that, on a best-effort basis, the s

[2015-03-16 11:31] domenic commented on #295
OK. I think the conclusion is that it should only accept an ArrayBufferView (not an ArrayBuffer, and not a structural ArrayBufferView, but DataView is allowed) and the promise should fulfill with the same type as was passed in. Agreed?

[2015-03-16 13:30] tyoshino opened #298 "Warning misbehaving underlying sources"
(Branched from https://github.com/whatwg/streams/pull/296#discussion_r26482675)

Should we throw if an underlying source looks misbehaving?

Example: Underlying source calling close function provided by the stream twice or more

[2015-03-16 13:37] tyoshino commented on #295
OK. If we passed Float32Array, Float32Array is returned?

[2015-03-16 13:42] domenic commented on #295
Yep!

[2015-03-17 07:15] #253 closed

[2015-03-17 07:15] #264 closed

[2015-03-17 07:15] #266 closed

[2015-03-17 07:22] domenic commented on #298
I think we should. Here are the cases I can think of:

- close() or error() after stream is already draining or closed or errored (currently ignored)
- enqueue() after stream is already draining or closed or errored (currently throws)

I will do a quick PR to fix this. It seems likely just an oversight so far.

[2015-03-17 07:25] domenic commented on #298
Oh, hmm, what if the stream was cancelled by `rs.getReader().cancel()`? E.g. I think https://streams.spec.whatwg.org/#example-rs-push-no-backpressure might trigger a call to `close()` after the stream was already closed.

[2015-03-17 07:28] domenic commented on #104
So, thinking has evolved a lot since this original issue. One the one hand, the recently-merged PR introduced async read(), so that should make some people happy. On the other, we've learned a *lot* more about byte streams and the intricacies behind them. (I'm doing a [blog series](https://blog.domenic.me/byte-sources-introduction/) to explain the constraints.) I think it's time to close off this

[2015-03-17 07:28] #104 closed

[2015-03-17 07:32] domenic commented on #88
As this spec becomes more constrained by the need to efficiently wrap byte sources and sinks while still presenting a general interface, it's clearer that it's best for streams to harmonize with FRP libraries or paradigms in ECMAScript, but not necessarily be based on or implement them. Kris Kowal's [GTOR](https://github.com/kriskowal/gtor/) goes into some more details on how this might work, and

[2015-03-17 07:32] #88 closed

[2015-03-17 07:33] domenic commented on #177
I started on this a bit by documenting some recently-discovered constraints [in Requirements.md](https://github.com/whatwg/streams/blob/master/Requirements.md#byte-streams), although it was pretty quick and not too comprehensive.

[2015-03-17 08:51] tyoshino commented on #298
OK. So, shall we warn the source only if close()-ed when it's already draining?

[2015-03-17 09:09] tyoshino commented on #298
Re: error,

It seems we don't have any path to notify the underlying source of that the `[[error]]` has been called (until the source calls `enqueue()`), and that's because the only sources of error which results in invoking `[[error]]` are the strategy or the underlying source itself? So, ...:

1. the source cannot know when an error occurred
1. there's no way for the consumer to error the stream

[2015-03-17 09:16] domenic commented on #298
I think your analysis makes sense. Should we allow double-close when not draining, even if both of them were underlying-source initiated? Or should we try to disallow double-close() in that case?

(The only way to make that work I think is to add another flag, or maybe another state which we treat very much like closed. So that's kind of annoying. But it seems also weird that if the queue has chun

[2015-03-17 09:19] tyoshino commented on #266
Re: equality,

See this comment https://github.com/whatwg/streams/pull/296#issue-60790220 of PR #296.

If we decide to put `.closed` back to the stream (not reader) in the future, we need to remember this.

----

Re: cancel() on errored/closed stream (https://github.com/whatwg/streams/issues/266#issuecomment-73716393),

- returns a resolved promise when in closed state
- returns a rejected promise

[2015-03-17 09:25] tyoshino commented on #298
Ah, I see. `CreateReadableStreamCloseFunction()` doesn't set `[[draining]]` when the queue is already empty. I guess we can just set draining to **true** even when in `"waiting"` state. It was unnecessary but seems doing so is harmless.

[2015-03-17 09:26] domenic commented on #298
Oh I see, that should work pretty well, nice :)

[2015-03-17 13:25] tyoshino commented on #172
For queue backed streams, we could extend the API for the underlying source like:

[code]

To delay error-ing. If it turns out that this functionality is really needed. For non-queue-backed streams, it's just up to the underlying source when to make the stream look errored.

[2015-03-17 13:31] tyoshino opened #300 "Byte streams"
This is a tracking bug for progress on byte stream standardization.

Status:
- We've recently switched to adopt async read() (see #253).
- #176 is now obsolete.
- Requirements are summarized in the "Byte Streams" section in [Requirements.md](https://github.com/whatwg/streams/blob/master/Requirements.md).

Sub issues:
- [ ] Naming the reader getter methods #294

[2015-03-17 13:32] tyoshino commented on #176
Closing as the API is changing largely. See #300 instead.

[2015-03-18 05:34] tyoshino opened #301 "Generalized and precise flow/buffer control"
Before recent redesign, we always had a queue in the JS world behind a readable stream, and we calculated how to exert backpressure to the "underlying source" based on the size of the queue.

We're now separating the streams API semantics visible to the consumer (mainly implemented in the reader) and a queue behind it which doesn't always exist (depending on who (JS, C++ code, kernel, device, etc.

[2015-03-18 05:45] tyoshino commented on #301
As Yutaka has been advocating, we should stop attempting to specify direct connection between the "underlying source" which the JS code faces and the readable (byte) stream operation. Not directly, but just have a good API surface that **could** be utilized for optimization if the implementor of the readable (byte) stream wants. Bring your own buffer style reader allows the implementor to directly

[2015-03-18 07:14] domenic commented on #301
I agree with the first post. In https://github.com/whatwg/streams/issues/294#issuecomment-81557090 I summed it up in terms of a proposed `.getReader({ queueSize: x })` API. And yeah, it is best-effort, with the underlying source implementation taking it into account to decide what to actually do.

On the second post, I also agree that there should be no necessity of connecting the view directly to

[2015-03-18 07:16] #176 closed

[2015-03-18 08:36] tyoshino commented on #301
Oh, yes. Sorry I forgot to cite that comment.

Agreed. Thanks for clarification.

[2015-03-19 06:40] tyoshino commented on #271
Domenic created PR #302 to define "teeing" clearly. Discussion happening there now.

[2015-03-19 13:00] tyoshino commented on #295
Sorry. The consensus about the return type for non-BYOB byte stream is Uint8Array? IIRC, we haven't made conclusion for it.

[2015-03-19 13:05] domenic commented on #295
I think that is good. I was tempted to say ArrayBuffer... but Uint8Array might allow more flexibility and will probably be more uniform.

[2015-03-19 13:09] tyoshino commented on #295
Oh, yeah. We don't have to use a view, but maybe having it consistent with BYOB (use ArrayBufferView for both) is beneficial in some points? (Sorry, I forgot that we could also just use the ArrayBuffer.)

[2015-03-19 13:11] yutakahirano commented on #295
+1

[2015-03-19 13:11] domenic commented on #295
Yeah, I think the consistency is good. Plus I could imagine a hypothetical scenario where the stream allocates one large ArrayBuffer then hands out smaller Uint8Array views into it as it fills up (all with the same backing buffer). Probably will never happen given multi-threading means lots of transfers anyway, but imagining it helped convince me.

[2015-03-20 06:23] #298 closed

[2015-03-20 06:39] domenic commented on #301
My current thinking based on discussions this morning:

- pull(enqueue, close, error) becomes pull(enqueue, close, error, spaceLeftGetter) in functionality. (In name and shape, maybe `pull({ enqueue(), close(), error(), desiredSize })`? Can be settled afterward though.)
- Strategies need to be modified to have high water mark directly instead of having flexible shouldApplyBackpressure predicate. (

[2015-03-20 10:46] tyoshino commented on #177
I'd like to prototype the unified byte stream underlying source idea we discussed today.

- `ReadableByteStream` has a queue `[[queue]]`
- If the `[[queue]]` is not empty, `autoReader.read()` gets fulfilled with the `ArrayBufferView` at the top of the `[[queue]]`
- If the `[[queue]]` is empty, `autoReader.read()` gets queued in the `[[pendingReads]]` queue
- `source.pull()` is called to notify tha

[2015-03-20 11:38] domenic commented on #177
I wonder if we should have the stream implementation enforce the type as Uint8Array.

Alternately, we could just fill up view as much as possible, and have the returned ArrayBufferView be of a shorter byteLength. Just like if read(2) returns a smaller number of bytes than were passed in.

The more interesting case is: if [[queue]] is not empty, but its first chunk is of a larger size than `view`.

[2015-03-20 19:31] bmeck opened #304 "Performance Check vs. Node Streams"
Just want to start an issue to track performance concerns vs Node/IO.js streams implementations. I know that streams are currently a major bottleneck in performing IO and would be curious to see if we can make a benchmark and at least ensure we can reach performance parity. Having a nice API is one thing, but if we lose performance doing it we will be in trouble.

[2015-03-20 19:36] trevnorris commented on #304
Here's a very basic benchmark that I've attempted to make as fair as possible (feedback on how to do better is welcome):https://gist.github.com/trevnorris/4a8b6dd856cf3e1b4268

Part of what you'll see is that V8 native Promises is a significant hit, but also the implementation itself (of course having gone through Babel).

[2015-03-21 06:28] domenic commented on #304
Yeah, the purpose of the reference implementation is to transliterate the spec directly into JS, and not to be a usable polyfill. In particular a lot of the stuff we're doing around the queue-with-sizes is probably ridiculously unoptimized, not just at a VM level but also on an algorithmic level.

Next month I'll likely be working on a V8 extension version of the streams, with a target of maybe ha

[2015-03-21 06:34] domenic commented on #304
One big performance _win_ will be #97, which is explicitly being designed for.

[2015-03-21 21:42] bmeck commented on #304
Before shipping an implementation and forcing API stagnation /
stabilization I truly believe we should profile this reference
implementation and be ABSOLUTELY sure the VM implementors have a chance to
check the profile of this API and not enter into a strange situation where
some minute point prevents performance.

Also, I truly hope we come up with resource finalization before that goes
out... I

[2015-03-23 06:21] tyoshino commented on #177
Added to #300.

Sounds good. Added to #300.

This makes sense for the non-BYOB reader if we add a size-limiting parameter to its `read()` method as you discussed last week.

For BYOB, anyway we need to append the data to the given buffer as the consumer may already have written some data in the encapsulated ArrayBuffer and expect the new data to be added right next to the data the region of which

[2015-03-23 08:11] tyoshino commented on #301
Some logs of the last week's discussion
- For the initial release, `read` method is the only way for the consumer to tell the stream how fast the consumer is / how much the consumer is fine with getting buffered. Readable stream doesn't expose setHWM to the consumer.
    - [tyoshino] Re: naming, I prefer pullAmount (or something similar) to HWM as HWM sounds like assuming that there's a queue.

[2015-03-23 16:44] trevnorris opened #305 "Implementation of net.Socket"
I'm curious how this API would be used to completely replace Event Emitters to implement something like `net.Socket`. This issue is a reminder to do a reference implementation.

[2015-03-24 12:09] tyoshino commented on #300
Updating BinaryExtension.md at https://github.com/whatwg/streams/tree/asyncbytestream

[2015-03-24 20:21] wanderview commented on #276
I was talking with @sicking today and he raised an interesting point.  What do we do in this situation:

1) Script gets a ReadableStream for a native resource like a file or something.
2) Script overrides ReadableStream.read() with stream.read = function() {...}
3) Script tries to transfer the stream to a worker with postMessage()

Ideally the worker would have access to the stream data without al

[2015-03-24 21:24] domenic commented on #276
I would imagine we just do what we do for all other platform objects (including e.g. promises), and define the behavior of how other code interacts with them not in terms of their public API but in terms of abstract operations that apply to them. So e.g. the postMessage algorithm references TeeReadableStream(s) instead of s.tee().

[2015-03-24 21:25] domenic commented on #276
(Sometimes this is also stated in specs as "using the original value of `X.prototype.method`, if the appropriate abstract-operaton factoring hasn't happened to the spec in question.)

[2015-03-24 21:26] wanderview commented on #276
And because the tee concept operates on the source it effectively by-passes any overrides on the outer object?

[2015-03-24 21:33] domenic commented on #276
I mean, I'd say that it operates on the stream, but does so by reaching into its innards instead of through the public API, in order to be more tamper-proof.

[2015-03-25 00:52] sicking commented on #276
So that's true even for piping? I.e. if I do

[code]

Then nothing will get logged since `pipeTo` is reaching into the innards of the argument that's passed to it, rather than using the public API?

[2015-03-25 08:04] tyoshino commented on #300
Added definitions of methods on the BYOB reader https://github.com/whatwg/streams/blob/asyncbytestream/BinaryExtension.md

I tried to write the definitions without introducing detailed internal algorithm. @yutakahirano, could you please take a quick look?

[2015-03-25 13:58] yutakahirano commented on #300
looks good

[2015-03-25 14:52] tyoshino commented on #300
Thanks. Also added ReadableByteStreamReader.

[2015-03-25 23:17] domenic commented on #276
@sicking That's a good question. In the end the answer is no: `pipeTo` operates polymorphically on its argument, which must take the structural type of a writable stream, but could be any implementation of the writable stream contract. (E.g., queue-backed `WritableStream`, or specialized `WritableByteStream`, or any author-created writable stream types.) This is discussed in some length [in a new

[2015-03-26 00:21] wanderview commented on #276
I asked @bzbarsky and this option is possible, but it would probably not be our first choice.  It would require adding back features that were removed from SpiderMonkey for being a bit hacky.  It seems we should go with other options if possible.

[2015-03-26 00:40] bzbarsky commented on #276
I should note that option 1 requires carefully defining exactly what happens if the deopt happens in the middle of the copy operation somewhere; you have to synchronize somehow so that the writes that need to be observable after the deopt are actually observable or something.

[2015-03-26 03:46] tyoshino commented on #276
We've redesigned the readable stream to have the reader+stream structure and are going to also introduce the writer+stream structure to the writable stream. Given that change, the example by Jonas (https://github.com/whatwg/streams/issues/276#issuecomment-85766105) doesn't work since pipeTo() obtains a writer by itself. There's no point where we can substitute `writer.write` which the pipeTo() use

[2015-03-26 04:05] tyoshino commented on #276
So, to implement the 1st option in Domenic's comment (https://github.com/whatwg/streams/issues/276#issuecomment-86249915), for example, we should make overriding getReader() deopt the special piping algorithm of the readable stream writable stream pair, I guess.

[2015-03-26 04:06] tyoshino commented on #276
But `getReader()` is very special. It requires interaction with internal states of streams. Some API support is needed.

[2015-03-26 11:19] yutakahirano commented on #276
@tyoshino, sorry, I don't understand what you meant at https://github.com/whatwg/streams/issues/276#issuecomment-86330827. Can you explain?

[2015-03-26 13:52] yutakahirano commented on #276
Not streams but the reader and the writer are important for pipeTo. If the reader and the writer gotten via getReader() and getWriter() are authentic, we can enable the optimization.

[code]

[2015-03-26 16:55] bzbarsky commented on #276
OK, that seems to push the issue off to how pipeTo interacts with the reader and writer.  That is, all of https://github.com/whatwg/streams/issues/276#issuecomment-86249915 applies but now to the reader and writer, right?

[2015-03-26 17:46] domenic commented on #276
I think it helps reduce the surface area a little bit. In particular one strategy would be that you only have to check if `dest.getWriter` is the same as the original `getWriter`, and as long as that can be done unobservably, you're then good to go. (I think it can, too: you insert the equality check in between the "get" and the "call" steps of the invoke-a-method algorithm.)

Except... what if so

[2015-03-26 17:57] bzbarsky commented on #276
You don't have to check dest.getWriter, right?  You have to check something about the object it returns, as you note.  I assume getWriter is only called once, up front.

But yeah, my point was that we have the same problem with the writer.  :(

[2015-03-26 18:00] domenic commented on #276
Well, you could do either, but yeah, both fail.

[2015-03-26 21:30] wanderview opened #307 "consider allowing a stream to be removed from a pipeline"
Talking with @trevnorris, it sounds like it would be useful to allow a stream to be removed from a pipeline as an optimization.

For example, if `a.pipeThrough(b).pipeTo(c)`, remove `b` at some point so `a` goes straight to `c`.

This optimization is particularly useful if `a` and `c` are native C++ implementations and removing `b` means its not necessary to execute javascript any more.

Potential

[2015-03-27 03:34] tyoshino commented on #307
Can you elaborate the use case? Initially we need `b` but at some point `b` becomes unnecessary?

What's going on in piping is basically not observable from the streams API. Which of the objects tells the timing to collapse `b`?

[2015-03-27 14:01] wanderview commented on #307
The example I was provided was a processor which decrypts cookies in a network stream.  Once the cookies have passed they want only the native C++ stream processors operating for the rest of the http response body.  Bouncing through js for a function that will never do anything forces a de-opt.

[2015-03-30 04:56] tyoshino commented on #307
If the cookie decrypter is designed to become `"closed"` when it sees the end of headers, we can use `pipeTo` with the `preventCancel` parameter set to **true** to get notified when the decrypter finishes consuming headers, but without `cancel()`-ing the source. The decrypter needs to have a method to returns unconsumed data written by `pipeTo` so that the user can write the data to the body recei

[2015-03-30 13:44] youennf opened #308 "ReadableStream.getReader name is a bit misleading"
getReader name is a little bit counter-intuitive to me.
This method is really a constructor.
Its name seems to imply that it could return the same object if called several times on the same stream.
Why not simply calling it ReadableStream.createReader?

[2015-03-30 14:17] wanderview commented on #308
I think conceptually the stream can only have one reader at a time.  The stream is locked by getReader(), so if you try to call it again you get an exception.

Given those semantics, I think "get" is a bit better than "create".  Naming is hard, though.

[2015-03-30 14:46] wanderview commented on #307
@trevnorris, does the above address your use case?

[2015-03-30 18:30] domenic commented on #308
Yeah, @wanderview covered my point of view pretty nicely. Even though it does get a new one each time it's (successfully) called, "conceptually" only one "real" reader exists per stream. The mapping of that conceptual reader to JS objects is not one-to-one though.

[2015-03-30 19:59] youennf commented on #308
From a dev point of view, getReader is really 'lock the stream and get me
the thing that will allow me to access to the data'. The thing is called a
reader and its lifetime is controlled with releaseLock.

I would really avoid using getXXX in case one can never get the same JS
object through this method. The notion of locking seems more important to
convey.

The single-reader is a nice meta-model

[2015-03-30 20:17] domenic commented on #308
I mean, suggestions welcome. I don't think it's unprecedented for `getX()` functions to return differnet objects each time---in fact I think that's the norm, given that if you're going to return the same thing each time, you'd just use a getter property. But I agree there's a design space here with the potential for improvements.

[2015-03-30 20:57] youennf commented on #308
What about acquireLock?
With the possibility for releaseLock to return the released stream maybe?
 Le 30 mars 2015 22:17, "Domenic Denicola" <notifications@github.com> a
écrit :

[2015-03-30 21:53] domenic opened #309 "Making the "queue manipulator" its own class"
To deal with #301 per the plan in https://github.com/whatwg/streams/issues/301#issuecomment-83939205, where in the current set of functions (enqueue, close, error) grows an additional getter "spaceLeftGetter", I'm planning a bit of a change the signature and wiring. Would love thoughts.

The naive extension is of course something like (enqueue, close, error, getSpaceLeft). But at this point the ar

[2015-03-30 22:11] domenic commented on #309
OK, so for those watching by email, I accidentally pressed enter on an incomplete version of this issue. I edited the OP to be complete. I'll re-post the complete OP in this comment so you get an email with all that content, then I'll delete this comment:

---

To deal with #301 per the plan in https://github.com/whatwg/streams/issues/301#issuecomment-83939205, where in the current set of function

[2015-03-31 00:38] domenic commented on #305
I mentioned this in IRC I think, but I worked pretty closely with the author of http://www.w3.org/2012/sysapps/tcp-udp-sockets/#interface-tcpsocket and think it's a pretty sensible interface. I'll definitely do a reference implementation for io.js though, probably with that API shape but maybe with minor deviations as I start working on it.

[2015-03-31 01:08] domenic commented on #308
Why is acquire better than get? It just seems like a fancy synony that takes longer to type and spell.

[2015-03-31 05:54] tyoshino commented on #308
- "acquire" sounds like receiving some exclusive right to me more than "get". So, I understand youennf's point. But maybe it's just because I see "acquire"s in texts discussing mutex locks most. I'm not English native so don't know the nuance in general.
- "lock" is just a needed side-effect (part of) for getting the exclusive read access. The main functionality of the interface from the view poin

[2015-03-31 13:32] wanderview commented on #308
In gecko we use `take` for this sort of thing since its short and suggests exclusive access to the resource.  So `takeReader()`. I don't have a strong opinion, though. /bikeshed

[2015-03-31 15:37] #309 closed

[2015-04-01 04:02] tyoshino commented on #308
"take" also sounds good to me

[2015-04-01 05:03] tyoshino commented on #309
Addressed by #310. The class is given a name of `ReadableStreamController`.

Agreed

[2015-04-01 08:05] youennf commented on #308
+1
I can go over updating the tests, ref impl and so on, if that helps.

2015-04-01 6:02 GMT+02:00 Takeshi Yoshino <notifications@github.com>:

[2015-04-01 08:24] tyoshino opened #312 "Extract the minimal algorithm from which we can easily infer the public behavior of the interfaces"
We've been sporadically saying that we need a definition of the interfaces not by JS code but by describing publicly visible behavior of each property.

I'm trying to build it at:
https://github.com/whatwg/streams/blob/asyncbytestream/BinaryExtension.md

IIRC, @domenic said that the current spec also includes some texts doing this. But I couldn't find it.

[2015-04-01 12:21] domenic commented on #308
I definitely don't think takeReader makes sense.

At this point I think we need evidence that other getX() methods on the web platform return the same object each time. My suspicion is the opposite---that getReader() is already consistent with the platform.

[2015-04-01 13:12] domenic commented on #308
Indeed. Here are other methods that follow the getX() pattern and return a new object every time:

- From DOM:
  - getElementsByTagName/getElementsByTagNameNS
  - getElementsByClassName
- From HTML:
  - PropertyNodeList.prototype.getValues
  - Document.prototype.getElementsByName
  - Document.prototype.getItems
  - TextTrackCue.prototype.getCueAsHTML
  - CanvasRenderingContext2D.prototype.getImage

[2015-04-01 14:05] domenic commented on #312
Hmm, there might be some confusion here.

The current spec does define the interface in terms of its publicly visible behavior. It does so by giving one algorithm that will produce the normatively-required results. But if you have another algorithm that would do so, and is black-box indistinguishable, that is also a fine way of implementing the spec.

For example, the queue-with-sizes data structu

[2015-04-01 19:41] youennf commented on #308
These examples look all good as getters.
I might be wrong but I think all of them do not change the state of the
callee.
You can call them multiple times, you will retrieve the same data, albeit
different containers.

Calling getReader changes the state of the stream in observal ways: calling
getReader again will raise an exception. If getReader is called and the
reference to the returned object i

[2015-04-02 03:56] tyoshino commented on #312
The text in BinaryExtension.md is still premature. We of course need to describe that. Actually, the text already includes the state concept to guarantee some invariants, preconditions. So, already not fully blackboxed. In prototyping the thin streams in the operationStream branch, I tried to describe the constraints using thin layer of algorithm. I want to do that in natural language..

It's poss

[2015-04-02 04:05] tyoshino commented on #312
By "natural language", I mean writing spec texts. I don't mean that we shouldn't write algorithm.

[2015-04-02 04:48] tyoshino commented on #308
- `"get"`
    - objection: doesn't return the same object https://github.com/whatwg/streams/issues/308#issue-65215447
        - objection: it's common that the getXXX form is used in the web platform https://github.com/whatwg/streams/issues/308#issuecomment-88474774
    - objection: changes the state of the stream https://github.com/whatwg/streams/issues/308#issuecomment-88606829
- `"create"`

[2015-04-02 04:50] tyoshino commented on #308
Domenic, could you explain the reason why you think `"take"` doesn't make sense?

(wanna hear it though I'm fine with `"get"`)

[2015-04-02 05:38] domenic commented on #308
taking something to me means that it's already there, and you're taking it from someone else who has it. That's not really what's going on, or even how it should be conceptualized. I would put takeReader on some class that gets a reader, holds it, but might want to let others have it for a while while it's not using it.

Also my objection to acquire is that it's basically synonymous with "get", at

[2015-04-02 05:58] tyoshino commented on #308
Thanks. Updated the list.

[2015-04-02 19:53] domenic commented on #312
Awesome, yeah :). Then the text above it is similar to the notes, e.g. in https://streams.spec.whatwg.org/#rs-get-reader ?

Also tagging in @annevk because we've had discussions on this sort of thing in the past (especially with regard to non-normative notes and how detailed they should be).

[2015-04-03 01:13] sparty02 commented on #308
What does the reader abstraction give you that couldn't be done via a change in semantics of the read method?  In other words, why not just stream.read() ?  What else can you call on the reader?

[2015-04-03 01:20] domenic commented on #308
@sparty02 multiple consumers can have a stream; only one consumer (at a time) can have a reader. See the mega-thread #241.

[2015-04-03 02:08] sparty02 commented on #308
@domenic Thanks for the context! Intuitively, I would have thought that one would construct a reader and compose in a stream that the reader would operate on.   i.e. :
[code]
it seems a little off for the stream to have to know how to dole out readers....and if it didn't, the issue of naming 'getReader' would be a moot point  :smile:   Take this with a grain of salt as I've just started to read yo

[2015-04-03 02:19] domenic commented on #308
Yeah, if you manage to get a `ReadableStreamReader` constructor that will actually work, as long as there is no existing reader. But we decided to hide that, as an implementation detail. See https://streams.spec.whatwg.org/#reader-constructor

[2015-04-03 02:26] SlexAxton commented on #308
It seems like instead of checking the current landscape for APIs that return the same thing or not when calling `get`, we should look for APIs that can only be called once, or that throw an error like this if you call them again. It definitely feels like a weird pattern (the mega-thread seems to give good reason for it to be this way, at a skim), which is why naming it is probably a little more di

[2015-04-03 02:28] SlexAxton commented on #308
It feels like `getReader` would make sense if it returned the reader instance the first time, and then after that, returned a 'frozen' reader or something like that instead of throwing an error. An error might be thrown if you try to *act* upon that reader, rather than simply 'getting' it.

[2015-04-03 02:30] sparty02 commented on #308
@SlexAxton Agreed.  Along those lines, it would feel natural for read() to throw when calling it on a stream the second time.....back to the difficulty in naming this thing.

[2015-04-03 02:31] sparty02 commented on #308
What about "access" as in:
[code]

[2015-04-03 02:34] SlexAxton commented on #308
I don't find `read` to be a confusing name for something that might throw if I called it at the wrong time. It doesn't seem like the same naming problem to me.

Alternatively, it could be more like the APIs that require user permissions, in that the access can be blocked:

[code]

But then it gets all async and weird, but "request" feels more right.

[2015-04-03 02:41] sparty02 commented on #308
[code]

[2015-04-03 02:51] sparty02 commented on #308
:+1: for "request"

[2015-04-03 02:51] SlexAxton commented on #308
`request` would almost certainly need to be async, though, and this doesn't need to be.

[2015-04-03 02:55] sparty02 commented on #308
const reader = stream.viaReader();

[2015-04-03 02:57] domenic commented on #308
There seems to be some confusion. You can get another reader if you release the original one first.

[2015-04-03 02:58] sparty02 commented on #308
....which seems to somewhat fit into:
[code]

[2015-04-03 03:23] yutakahirano commented on #308
I don't think throwing an error is unsound for getX methods. XMLHttpRequest.responseText can throw an error, for example (I mean, methods are more likely to throw errors than attribute getters).

[2015-04-03 03:38] kriskowal commented on #308
Per my habit, I will reason by analogy to established patterns from which to project names.

What happens between when you release a reader and get/acquire/take/retain a new one? I am going to assume for the sake of argument that the stream’s buffer accumulates and no information is lost.

I suspect that Stream and Reader correspond to the same conceptual entity, so there’s API funny-business goin

[2015-04-03 03:47] SlexAxton commented on #308
That was great.

I'm likely just dense, but I thought the whole thing was leading up to `myReadableStream.read` - sounds like you're saying the opposite?

[2015-04-03 04:13] kriskowal commented on #308
I’m proposing that it is sufficient to have a Reader and that all places where Stream was should just be Reader. The responsibilities previously given to a Stream can be implemented by a Reader without worrying the user. Specifically, the responsibility of guaranteeing that only the system or the user can read from the stream at any given time, can be subsumed by a Reader. From the user perspectiv

[2015-04-03 04:45] yutakahirano commented on #308
I like the current Stream/Reader separation. Sharing a reader might be useful, but it is possible with the current model, and the current model enables us to define streams' behavior precisely. I don't like the idea of leaving behaviors unspecified.

Such symbol can be useful when we have an async loop syntax, but we can add it later. ES6 set has Symbol.iterator slot but it also has `values()` met

[2015-04-03 06:33] annevk commented on #312
The only thing I remember discussing is having language to talk about streams *normatively* without having to construct JavaScript objects and such. E.g. language that could replace https://encoding.spec.whatwg.org/#concept-stream and the streams language in Fetch that is not API-exposed.

[2015-04-03 06:35] domenic commented on #312
@annevk I meant more in general, e.g. non-normative notes in the DOM spec. (Still not sure about whether this spec seeks to define "conceptual streams"... it's not like we have a definition for "conceptual promises" divorced from JS objects.)

[2015-04-03 19:56] domenic commented on #308
So, I'm really not seeing anything here that's materially better than getReader. (There's a lot of off-topic stuff about re-designing the streams API entirely, but this is not the thread for that.) And the arguments against getReader have not been that strong, and have counter-arguments in most cases. As such, I think it's best to just stick with `getReader()`.

Thanks for your thoughts though @yo

[2015-04-03 19:56] #308 closed

[2015-04-04 00:04] domenic commented on #301
I'm working on this in the precise-flow-control branch. It's going pretty well. Gotta update some more tests (especially around writable streams) and the spec, but shouldn't be too bad.

I went with `desiredSize` for the name for now. It seems OK. Other candidates included `extraSpace` or `(space|size)UntilFull`.

[2015-04-06 07:53] tyoshino commented on #312
Right, if written in natural language. I'm fine with writing algorithm though.

It seems the promises algorithm is thin enough as what I'm trying to give for ReadableStream.

[2015-04-06 08:22] tyoshino commented on #312
It seems this can be achieved with a little work. E.g., in `ReadableStreamReader.prototype.read()` only the step 6 is specific to the queue-backed type ReadableStream implementation. If we extract this step as an abstract operation say `GenerateChunk()` that returns a tuple of `{ sync, value, done }`, then this algorithm would be:

- ...
- Let _result_ be GenerateChunk(**this**[[ownerReadableStrea

[2015-04-06 08:27] tyoshino commented on #312
This refactoring is just annoying if put in a text just to define the JS queue-backed ReadableStream. So, trying to figure out where should we do this.

[2015-04-06 19:17] domenic opened #314 "pipeTo with preventClose: true returns a promise that is probably fulfilled too early"
In IRC @tyoshino pointed out a potential issue with our pipeTo implementation. Related issues were previously discussed in https://github.com/whatwg/streams/issues/236#issue-46428456.

If you have `preventClose: false` (the default), then the returned promise will be fulfilled only once all the writes have successfully completed and the close succeeds.

However if you have `preventClose: true`, th

[2015-04-06 20:51] wanderview commented on #20
I mentioned this in IRC, but can we make a null transform function mean "make a dump buffered pipe"?  Or some other convenient way to do that.

[2015-04-06 20:54] wanderview commented on #276
It seems we can avoid most the issues if we just make it so you can postMessage() the stream, but not the reader.  When you postMessage() the stream then it locks the stream and transfers the underlying source.  This doesn't give 3rd party js any surface area to override as far as I can tell.

[2015-04-06 21:06] domenic commented on #276
Right, that does address the OP, although we did get into the question of how to make pipeTo unobservable (independent of postMessage).

[2015-04-06 21:06] #271 closed

[2015-04-07 22:02] domenic opened #316 "Do writable streams need separate signals for write-success vs. write-accepted?"
Spawned from https://github.com/yutakahirano/fetch-with-streams/issues/30.

The premise of the current writable stream design is that it's important to signal two things to the producer:

1. Whether a given write succeeds or fails
2. Whether the stream's internal queue, as determined by its strategy, is getting full (backpressure).

This manifests in the current API in two corresponding ways:

1.

[2015-04-07 22:10] domenic opened #318 "Port precise flow control to writable streams"
After https://github.com/whatwg/streams/pull/317, readable streams will have precise flow control. We should add something similar to writable streams. However, the shape of it will likely depend on the resolution of https://github.com/whatwg/streams/issues/316.

[2015-04-07 22:17] domenic opened #319 "Port locking infrastructure to writable streams"
Writable streams need a similar way of being locked for exclusive writing, as readable streams do with their readers. This is notably crucial for off-main-thread piping (#97).

One problem that immediately presents itself, looking at the current list of writable stream properties and methods (closed/ready/state/abort()/close()/write()), is that pretty much all of them belong on the writer. Does th